# Upgrade rate by product action

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

Given the following two tables, return the fraction of users, rounded to two decimal places, who accessed feature two (type: F2 in events table) and upgraded to premium within the first 30 days of signing up.

In [2]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

# Part A

Determine which users have feature 2 ("F2") and what date it was accessed.

In [4]:
%%sql

SELECT user_id, event_type, access_date AS f2_accessed_date
FROM events
WHERE event_type = 'F2'

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(2, 'F2', datetime.date(2020, 3, 2)),
 (3, 'F2', datetime.date(2020, 3, 15)),
 (4, 'F2', datetime.date(2020, 3, 15))]

# Part B

Determine which users have the premium feature and what date it was accessed.

In [5]:
%%sql

SELECT user_id, event_type, access_date AS premium_date 
FROM events
WHERE event_type = 'P'

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(2, 'P', datetime.date(2020, 3, 12)),
 (1, 'P', datetime.date(2020, 3, 16)),
 (3, 'P', datetime.date(2020, 3, 22))]

# Part C

Using the subqueries from Part A & B, determine which users upgraded from F2 to P (or `NULL` if no upgrade), and how many day passed between those dates.

```sql
WITH f2_users AS (
    SELECT user_id, event_type, access_date AS f2_accessed_date 
    FROM events
    WHERE event_type = 'F2'
),

premium_users AS (
    SELECT user_id, event_type, access_date AS premium_date 
    FROM events
    WHERE event_type = 'P'
)
```

In [12]:
%%sql

WITH f2_users AS (
    SELECT user_id, event_type, access_date AS f2_accessed_date 
    FROM events
    WHERE event_type = 'F2'
),

premium_users AS (
    SELECT user_id, event_type, access_date AS premium_date 
    FROM events
    WHERE event_type = 'P'
)

SELECT 
    u.user_id,
    premium_date - u.join_date AS upgrade_time
FROM users u
JOIN f2_users
ON u.user_id = f2_users.user_id
LEFT JOIN premium_users
ON u.user_id = premium_users.user_id

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(2, 27), (3, 36), (4, None)]

# Part D

Using the subqueries from Part A, B, & C, determine the percentage of users that upgraded from F2 to P with 30 days of their join date.

```sql
WITH f2_users AS (
    SELECT user_id, event_type, access_date AS f2_accessed_date 
    FROM events
    WHERE event_type = 'F2'
),

premium_users AS (
    SELECT user_id, event_type, access_date AS premium_date 
    FROM events
    WHERE event_type = 'P'
),

upgrade_times AS (
    SELECT 
        u.user_id,
        premium_date - u.join_date AS upgrade_time 
    FROM users u
    JOIN f2_users
    ON u.user_id = f2_users.user_id
    LEFT JOIN premium_users
    ON u.user_id = premium_users.user_id    
)
```

In [11]:
%%sql

WITH f2_users AS (
    SELECT user_id, event_type, access_date AS f2_accessed_date 
    FROM events
    WHERE event_type = 'F2'
),

premium_users AS (
    SELECT user_id, event_type, access_date AS premium_date 
    FROM events
    WHERE event_type = 'P'
),

upgrade_times AS (
    SELECT 
        u.user_id,
        premium_date - u.join_date AS upgrade_time 
    FROM users u
    JOIN f2_users
    ON u.user_id = f2_users.user_id
    LEFT JOIN premium_users
    ON u.user_id = premium_users.user_id    
)

SELECT 
    round(1.0*
          sum(CASE WHEN upgrade_time < 30 THEN 1 ELSE 0 END)/COUNT(*), 
          2) 
    AS upgrade_rate
FROM upgrade_times;

 * postgresql://fknight:***@localhost/postgres
1 rows affected.

[(Decimal('0.33'),)]

## The full solution is given below

In [2]:
%%sql

-- get feature 2 users and their date of feature 2 access

WITH t1 AS (
    SELECT user_id, event_type, access_date AS f2_date 
    FROM events
    WHERE event_type = 'F2'
),

-- get premium users and their date of premium upgrade

t2 AS (
    SELECT user_id, event_type, access_date AS premium_date FROM events
    WHERE event_type = 'P'
),

-- for each feature 2 user, get time between joining and premium 
-- upgrade (or null if no upgrade) by inner joining full users table
-- with feature 2 users on user ID and left joining premium users on
-- user ID, then subtracting premium upgrade date from join date

t3 AS (
    SELECT t2.premium_date - u.join_date AS upgrade_time 
    FROM users u
    JOIN t1
    ON u.user_id = t1.user_id
    LEFT JOIN t2
    ON u.user_id = t2.user_id
)

SELECT round(1.0*sum(CASE WHEN upgrade_time < 30 THEN 1 ELSE 0 END)/count(*), 2) AS upgrade_rate
FROM t3;

 * postgresql://fknight:***@localhost/postgres
1 rows affected.

[(Decimal('0.33'),)]