# CustomersAndProducts

The following questions will make use of the `customers`, `products`, & `orders` table, given below.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

## The `customers` table

In [28]:
%%sql

DROP TABLE IF EXISTS customers;
CREATE TABLE customers (
    cust_id INT,
    cust_name VARCHAR,
    state VARCHAR,
    dob DATE,
    gender VARCHAR
);

INSERT INTO customers
VALUES
    (3001, 'Brad Guzan',     'MA', '2001-01-01', 'm'),
    (3002, 'Nick Rimando',   'NY', '1991-01-01', 'm'),
    (3003, 'Jozy Altidor',   'MA', '1998-01-01', 'f'),
    (3004, 'Fabian Johnson', 'CA', '2002-01-01', 'm'),
    (3005, 'Graham Zusi',    'CA', '1990-01-01', 'm'),    
    (3007, 'Brad Davis',     'NY', '1993-01-01', 'n'),
    (3008, 'Julian Green',   'CA', '1989-01-01', 'f'),
    (3009, 'Geoff Cameron',  'MA', '1999-01-01', 'n');

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.

[]

## The `orders` table

In [8]:
%%sql

DROP TABLE IF EXISTS orders;
CREATE TABLE orders (
    order_id INT,
    order_date DATE,
    order_amount FLOAT,
    cust_id INT,
    prod_id INT,
    store_id INT
);

INSERT INTO orders
    (order_amount, order_date, cust_id, store_id, prod_id)
VALUES
    (150.5,   '2014-10-05', 3005, 5002, 8001),
    (65.26,   '2014-10-05', 3002, 5001, 8002),    
    (2480.4,  '2014-10-10', 3009, 5003, 8002),
    (110.5,   '2014-08-17', 3009, 5003, 8001),
    (2400.6,  '2015-07-27', 3007, 5001, 8001),
    (240.6,   '2015-08-07', 3002, 5003, 8001),    
    (948.5,   '2015-09-10', 3005, 5002, 8002),    
    (5760,    '2014-09-10', 3002, 5001, 8001),
    (270.65,  '2014-09-10', 3001, 5003, 8001),
    (1983.43, '2014-10-10', 3004, 5002, 8002),
    (250.45,  '2015-06-27', 3008, 5001, 8001),
    (75.29,   '2015-08-17', 3003, 5003, 8001),
    (3045.6,  '2015-04-25', 3002, 5001, 8002),
    (150.5,   '2015-10-05', 3005, 5002, 8001),
    (65.26,   '2015-10-05', 3002, 5001, 8002),    
    (2480.4,  '2015-10-10', 3009, 5003, 8002),
    (110.5,   '2014-08-17', 3009, 5003, 8001),
    (2400.6,  '2015-07-27', 3007, 5001, 8001),
    (240.6,   '2014-08-07', 3002, 5003, 8001),    
    (948.5,   '2015-09-10', 3005, 5002, 8002),    
    (5760,    '2015-09-10', 3002, 5001, 8001),
    (270.65,  '2015-09-10', 3001, 5003, 8001),
    (1983.43, '2015-10-10', 3004, 5002, 8002),
    (250.45,  '2014-06-27', 3008, 5001, 8001),
    (75.29,   '2014-08-17', 3003, 5003, 8001),
    (3045.6,  '2014-04-25', 3002, 5001, 8002);

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
26 rows affected.

[]

## The `products` table

In [27]:
%%sql


DROP TABLE IF EXISTS products;
CREATE TABLE products (
    prod_id INT,
    prod_name VARCHAR
);

INSERT INTO products
VALUES
    (8001, 'apples'),
    (8002, 'oranges');

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
2 rows affected.

[]

## Part A

For each store show the percentage difference in sales between 2014 and 2015.

## The expected output

|store_id|percent_change|
|--- |--- |
|5001|53.00|
|5002|89.00|
|5003|-7.00|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here

## Part B

For each store, show the percentage of all customers that have purchased at least 1 product.

## The expected output

|store_id|percent|
|--- |--- |
|5001|0.38|
|5002|0.25|
|5003|0.50|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here

# Part C

List all the customers that live NY, ordered by the number of unique products they bought.

## The expected output

|cust_id|uniq_products|
|--- |--- |
|3007|1|
|3002|2|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here

## Part D

Find the earliest born and last born customers, by gender, who have bought at least 1 product.

## The expected output

|gender|max|min|
|--- |--- |--- |
|n|1999-01-01|1993-01-01|
|m|2002-01-01|1990-01-01|
|f|1998-01-01|1989-01-01|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here

## Part E

Get top 3 orders for top 3 customers who have ordered product `8001` but not `8002`.

## The expected output

|cust_id|cust_rank|order_rank|
|--- |--- |--- |
|3002|1|1|
|3002|1|2|
|3002|1|3|
|3007|2|1|
|3007|2|2|
|3001|3|1|
|3001|3|2|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here