# Project aggregation

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
Source: https://www.hackerrank.com/challenges/sql-projects/problem

The projects table contains three columns: task_id, start_date, and
end_date. The difference between end_date and start_date is 1 day for each row in the table. If task end dates are consecutive they are part of the same project. Projects do not overlap.

Write a query to return the start and end dates of each project, and the number of days it took to complete. Order by ascending project duration, and descending start date in the case of a tie.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

In [2]:
%%sql

SELECT * FROM projects

 * postgresql://fknight:***@localhost/postgres
7 rows affected.

[(1, datetime.date(2020, 10, 1), datetime.date(2020, 10, 2)),
 (2, datetime.date(2020, 10, 2), datetime.date(2020, 10, 3)),
 (3, datetime.date(2020, 10, 3), datetime.date(2020, 10, 4)),
 (4, datetime.date(2020, 10, 13), datetime.date(2020, 10, 14)),
 (5, datetime.date(2020, 10, 14), datetime.date(2020, 10, 15)),
 (6, datetime.date(2020, 10, 28), datetime.date(2020, 10, 29)),
 (7, datetime.date(2020, 10, 30), datetime.date(2020, 10, 31))]

# Part C

Using the subqueries from Part A & B, find the start date and end date for each project.

```sql
WITH true_start_dates AS (
    SELECT task_id, start_date
    FROM projects
    WHERE start_date NOT IN (SELECT end_date FROM projects)
),

true_end_dates AS (
    SELECT task_id, end_date
    FROM projects
    WHERE end_date NOT IN (SELECT start_date FROM projects)
)
```

## The expected output

|start_date|end_date|
|--- |--- |
|2020-10-30|2020-10-31|
|2020-10-13|2020-10-15|
|2020-10-01|2020-10-04|
|2020-10-28|2020-10-29|

# Type your SQL below

In [1]:
# %%sql
#
# Type your query here