# Gold Rate Puzzle

Source: https://msbiskills.com/2015/03/22/t-sql-query-gold-rate-puzzle/

In the puzzle we have gold rate changing all the time. We have to find the start date, end Date and the gold rate at that duration. If the gold rate is changed then only we have create a new row. Please check the sample input and the expected output.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

# Part C

Use the two following subqueries to solve the original problem.

```sql
WITH binary_seq AS (
    SELECT 
        *,
        CASE 
        WHEN rate = LAG(rate, 1) 
            OVER (ORDER BY dt) 
        THEN 0 
        ELSE 1
        END as start_of_seq
    FROM rates    
),

ranks AS (
    SELECT 
        *, 
        SUM(start_of_seq) OVER (ORDER BY dt) AS date_rank
    FROM binary_seq
)
```

## The expected output

|startdate|enddate|rate|
|--- |--- |--- |
|2014-09-18|2014-09-19|27000|
|2014-09-20|2014-09-22|31000|
|2014-09-23|2014-09-23|32000|
|2014-09-24|2014-09-24|31000|
|2014-09-25|2014-09-25|32000|
|2014-09-26|2014-09-26|27000|

# Type your SQL below

In [ ]:
# %%sql
# 
# Type your query here