# Gold Rate Puzzle

Source: https://msbiskills.com/2015/03/22/t-sql-query-gold-rate-puzzle/

In the puzzle we have gold rate changing all the time. We have to find the start date, end Date and the gold rate at that duration. If the gold rate is changed then only we have create a new row. Please check the sample input and the expected output.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

# Part B

Using the following subquery, give each date group a ranking.

```sql
WITH binary_seq AS (
    SELECT 
        *,
        CASE 
        WHEN rate = LAG(rate, 1) 
            OVER (ORDER BY dt) 
        THEN 0 
        ELSE 1
        END as start_of_seq
    FROM rates    
)
```

## The expected outcome

|dt|rate|start_of_seq|date_rank|
|--- |--- |--- |--- |
|2014-09-18|27000|1|1|
|2014-09-19|27000|0|1|
|2014-09-20|31000|1|2|
|2014-09-21|31000|0|2|
|2014-09-22|31000|0|2|
|2014-09-23|32000|1|3|
|2014-09-24|31000|1|4|
|2014-09-25|32000|1|5|
|2014-09-26|27000|1|6|

# Type your SQL below

In [ ]:
# %%sql
# 
# Type your query here