# Maximally-separated cities

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://www.hackerrank.com/challenges/weather-observation-station-19/problem

Write a query to return the furthest-separated pair of cities for each state, and the corresponding distance (in degrees, rounded to 2 decimal places) between those two cities.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

# Part D

Using the subqueries from Parts A, B, & C, solve the original problem.

```sql
WITH city_pairs AS (
    SELECT 
        s1.state, 
        s1.city AS city1, 
        s2.city AS city2,
        s1.latitude AS city1_lat, 
        s1.longitude AS city1_long, 
        s2.latitude AS city2_lat, 
        s2.longitude AS city2_long
    FROM stations s1
    JOIN stations s2
    ON s1.state = s2.state
    AND s1.city < s2.city
),

distances AS ( 
    SELECT *,
            round( ((city1_lat - city2_lat)^2 + 
                    (city1_long - city2_long)^2) ^ 0.5, 2) 
                AS dist
    FROM city_pairs
),

dist_ranks AS (
    SELECT *, 
            rank() 
            OVER (PARTITION BY state ORDER BY dist DESC) 
            AS dist_rank
    FROM distances
)
```

## The expected output

|state|city1|city2|dist|
|--- |--- |--- |--- |
|North Carolina|Asheville|Elizabeth City|6.34|
|North Dakota|Grand Forks|Hettinger|5.91|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here