# The Candidate Joining Puzzle

Source: https://msbiskills.com/2015/03/23/t-sql-query-the-candidate-joining-puzzle/

In this puzzle we have to find out the valid candidate joining date for each candidate. E.g if you check for CID the joining date is 10-01-2015 and as per the companyâ€™s holiday table they have holiday. So in this case we have to prepone the joining by one day. Hence for CJ10101 the valid joining date would be 08-01-2015 as they have holiday on 09-01-2015 also. Please check out the sample input and expected output for details.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
5 rows affected.
5 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
5 rows affected.
5 rows affected.

In [2]:
%%sql

SELECT * FROM holidays

 * postgresql://fknight:***@localhost/postgres
5 rows affected.

[(101, datetime.date(2015, 1, 10)),
 (102, datetime.date(2015, 1, 9)),
 (103, datetime.date(2015, 2, 19)),
 (104, datetime.date(2015, 3, 11)),
 (105, datetime.date(2015, 4, 11))]

In [3]:
%%sql

SELECT * FROM candidate_joining

 * postgresql://fknight:***@localhost/postgres
5 rows affected.

[('CJ10101', datetime.date(2015, 1, 10)),
 ('CJ10104', datetime.date(2015, 1, 10)),
 ('CJ10105', datetime.date(2015, 2, 18)),
 ('CJ10121', datetime.date(2015, 3, 11)),
 ('CJ10198', datetime.date(2015, 4, 11))]

# Part A

To group consecutive holidays, write a query that marks every sequence of holidays with a "1" as the start of the sequence, and a "0" afterwards.

## The expected solution is below

|id|holidaydate|start_of_seq|
|--- |--- |--- |
|102|2015-01-09|1|
|101|2015-01-10|0|
|103|2015-02-19|1|
|104|2015-03-11|1|
|105|2015-04-11|1|

In [4]:
# %%sql
#
# Type your query here