# Cumulative salary sum

* Source: https://leetcode.com/problems/find-cumulative-salary-of-an-employee/
* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

The following table holds monthly salary information for several employees. Write a query to get, for each month, the cumulative sum of an employeeâ€™s salary over a period of 3 months, excluding the most recent month. The result should be ordered by ascending employee ID and month.

In [2]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

# Part A

For each row, rank it by the month, ordered with more recent months coming before previous months.

## The expected output

|id|pay_month|salary|month_rank|
|--- |--- |--- |--- |
|1|1|\$20.00|4|
|1|2|\$30.00|3|
|1|3|\$40.00|2|
|1|4|\$60.00|1|
|2|1|\$20.00|2|
|2|2|\$30.00|1|
|3|2|\$40.00|3|
|3|3|\$60.00|2|
|3|4|\$70.00|1|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here