# CustomersAndProducts

The following questions will make use of the `orders` table, given below.

In [45]:
%run Question.ipynb

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
26 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
2 rows affected.

## Part A

For each store show the percentage difference in sales between 2014 and 2015.

## Example answer

In [ ]:
%%sql

WITH sales AS (
    SELECT
        store_id,
        CASE
        WHEN extract (year FROM order_date) = '2014'
        THEN order_amount 
        ELSE 0
        END AS sales_2014,
        CASE 
        WHEN extract (year FROM order_date) = '2015'
        THEN order_amount 
        ELSE 0
        END AS sales_2015
    FROM orders
    ORDER BY store_id    
)

SELECT 
    store_id, 
    100*ROUND(
        CAST(
            (1.0*sum(sales_2015) - sum(sales_2014)) / sum(sales_2014) 
            AS decimal),
        2
    ) as percent_change

FROM sales
GROUP BY store_id;

## Part B

For each store, show the percentage of all customers that have purchased at least 1 product.

## Example answer

In [ ]:
%%sql

SELECT 
    store_id,
    ROUND(
        1.0*COUNT(DISTINCT cust_id) / (SELECT COUNT(DISTINCT cust_id) FROM orders),
        2
    ) as percent
FROM orders
GROUP BY store_id

# Part C

List all the customers that live in a state, ordered by the number of unique products they bought.

## Example answer

In [42]:
%%sql

SELECT
    c.cust_id,
    COUNT(DISTINCT o.prod_id) AS uniq_products
FROM customers c
JOIN orders o
ON o.cust_id = c.cust_id
WHERE state = 'NY'
GROUP BY c.cust_id
ORDER BY uniq_products

 * postgresql://fknight:***@localhost/postgres
2 rows affected.

[(3007, 1), (3002, 2)]

## Part D

Find the earliest born and last born customers, by gender, who have bought at least 1 product.

## Example answer

In [46]:
%%sql

SELECT
    gender, 
    max(dob), 
    min(dob)
FROM customers c
JOIN orders o on c.cust_id = o.cust_id
WHERE dob IS NOT NULL
GROUP BY gender;

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[('n', datetime.date(1999, 1, 1), datetime.date(1993, 1, 1)),
 ('m', datetime.date(2002, 1, 1), datetime.date(1990, 1, 1)),
 ('f', datetime.date(1998, 1, 1), datetime.date(1989, 1, 1))]

## Part E

Get top 3 orders for top 3 customers who have ordered product `8001` but not `8002`.

In [91]:
%%sql

WITH order_ranking AS (
    SELECT 
        c.cust_id, 
        prod_id, 
        order_amount,
        row_number() 
            OVER (PARTITION by c.cust_id 
                  ORDER BY order_amount DESC) 
            AS order_rank
    FROM customers c 
    JOIN orders o
    ON c.cust_id = o.cust_id
    WHERE prod_id = 8001
),

cust_ranking AS (
    SELECT 
        cust_id, 
        SUM(order_amount),
        ROW_NUMBER() OVER (ORDER BY SUM(order_amount) DESC) as cust_rank
    FROM order_ranking
    GROUP BY cust_id
)

SELECT
    c.cust_id,
    cust_rank,
    order_rank
FROM order_ranking o
JOIN cust_ranking c 
ON c.cust_id = o.cust_id
WHERE cust_rank <= 3
AND order_rank <= 3
ORDER BY cust_rank, order_rank

 * postgresql://fknight:***@localhost/postgres
7 rows affected.

[(3002, 1, 1),
 (3002, 1, 2),
 (3002, 1, 3),
 (3007, 2, 1),
 (3007, 2, 2),
 (3001, 3, 1),
 (3001, 3, 2)]