# Median latitude

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://www.hackerrank.com/challenges/weather-observation-station-20/problem

Write a query to return the median latitude of weather stations from each state in the following table, rounding to the nearest tenth of a degree. Note that there is no MEDIAN() function in SQL!

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

# Part B

Using the subquery from Part A, solve the original problem.

```sql
WITH ranks_and_counts AS (
    SELECT 
        *, 
        row_number() 
            OVER (PARTITION by state ORDER BY latitude ASC) 
            AS state_rank,
        count(*) OVER (PARTITION by state) 
            AS state_count
    FROM stations
)
```

## The expected output

|state|median_latitude|
|--- |--- |
|North Carolina|35.9|
|North Dakota|47.4|

# Type your SQL below

In [4]:
# %%sql
#
# Type your query here