# Rolling sum salary

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

The following table shows the monthly salary for an employee for the first nine months in a given year. From this, write a query to return a table that displays, for each month in the first half of the year, the rolling sum of the employeeâ€™s salary for that month and the following two months, ordered chronologically.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

# Part C

Modify the query from Part B to solve the original problem.

```sql
SELECT s1.month, s2.month, s2.salary
FROM salaries s1
JOIN salaries s2
ON s1.month <= s2.month
AND s1.month > s2.month - 3
WHERE s1.month < 7
```

## The expected output

|month|sum|
|--- |--- |
|1|\$10,000.00|
|2|\$12,000.00|
|3|\$11,000.00|
|4|\$7,000.00|
|5|\$5,000.00|
|6|\$7,000.00|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here