# Rolling sum salary

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

The following table shows the monthly salary for an employee for the first nine months in a given year. From this, write a query to return a table that displays, for each month in the first half of the year, the rolling sum of the employeeâ€™s salary for that month and the following two months, ordered chronologically.

In [ ]:
%run Question.ipynb

# Part A

Write a query to identify, for each month, the range of 3 months that come after it, including the salary for each month.

## The expected output

|month|month_1|salary|
|--- |--- |--- |
|1|1|\$2,000.00|
|1|2|\$3,000.00|
|1|3|\$5,000.00|
|2|2|\$3,000.00|
|2|3|\$5,000.00|
|2|4|\$4,000.00|
|3|3|\$5,000.00|
|3|4|\$4,000.00|
|3|5|\$2,000.00|
|4|4|\$4,000.00|
|4|5|\$2,000.00|
|4|6|\$1,000.00|
|5|5|\$2,000.00|
|5|6|\$1,000.00|
|5|7|\$2,000.00|
|6|6|\$1,000.00|
|6|7|\$2,000.00|
|6|8|\$4,000.00|
|7|7|\$2,000.00|
|7|8|\$4,000.00|
|7|9|\$5,000.00|
|8|8|\$4,000.00|
|8|9|\$5,000.00|
|9|9|\$5,000.00|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here