# Commonly purchased together

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://www.careercup.com/question?id=5759072822362112
        
Using the following two tables, write a query to return the names and purchase frequency of the top three pairs of products most often bought together. The names of both products should appear in one column.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
5 rows affected.
5 rows affected.

# Part A

Write a query that gives every pair of products that have been ordered together.

## The expected output

|order_id|prod_1|prod_2|
|--- |--- |--- |
|1|1|2|
|1|1|3|
|1|2|3|
|2|1|2|
|2|1|4|
|2|2|4|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here