# Commonly purchased together

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://www.careercup.com/question?id=5759072822362112
        
Using the following two tables, write a query to return the names and purchase frequency of the top three pairs of products most often bought together. The names of both products should appear in one column.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
5 rows affected.
5 rows affected.

# Part B

Using the query from Part A to list the names of the pair of products in one column.

```sql
WITH product_pairs AS (
    SELECT
        o1.order_id,
        o1.product_id AS prod_1,
        o2.product_id AS prod_2
    FROM orders o1
    JOIN orders o2
    ON o1.order_id = o2.order_id
    AND o1.product_id < o2.product_id
)
```

## The expected output

|product_pair|
|--- |
|A B|
|A B|
|A C|
|B C|
|A D|
|B D|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here