# Commonly purchased together

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://www.careercup.com/question?id=5759072822362112
        
Using the following two tables, write a query to return the names and purchase frequency of the top three pairs of products most often bought together. The names of both products should appear in one column.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

## The `orders` table

In [4]:
%%sql 

DROP TABLE IF EXISTS orders;
CREATE TABLE orders (
    order_id INT,
    customer_id INT,
    product_id INT
);

INSERT INTO orders
VALUES
    (1, 1, 1),
    (1, 1, 2),
    (1, 1, 3), 
    (2, 2, 1), 
    (2, 2, 2), 
    (2, 2, 4),
    (3, 1, 5);
    
SELECT * FROM orders;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

[(1, 1, 1), (1, 1, 2), (1, 1, 3), (2, 2, 1), (2, 2, 2), (2, 2, 4), (3, 1, 5)]

## The `products` table

In [6]:
%%sql

DROP TABLE IF EXISTS products;
CREATE TABLE products (
    id INT,
    name VARCHAR(1)
);

INSERT INTO products
VALUES
    (1, 'A'),
    (2, 'B'),
    (3, 'C'), 
    (4, 'D'), 
    (5, 'E');

SELECT * FROM products;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
5 rows affected.
5 rows affected.

[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D'), (5, 'E')]

## The expected output

| product_pair | purchase_freq |
|------------- |-------------- |
| A B          | 2             |
| A D          | 1             |
| B D          | 1             |

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here