# Rank without RANK

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://leetcode.com/problems/rank-scores/

Write a query to rank scores in the following table without using a window function. If there is a tie between two scores, both should have the same rank. After a tie, the following rank should be the next consecutive integer value.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
6 rows affected.
6 rows affected.

# Part C

Using the query from Part B, solve the original problem.

```sql
SELECT
    DISTINCT s1.id,
    s1.score
FROM scores s1
JOIN scores s2
ON s1.score <= s2.score
ORDER BY s1.score DESC
```

## The expected output

|id|score|score_rank|
|--- |--- |--- |
|3|4.00|1|
|5|4.00|1|
|4|3.85|2|
|2|3.65|3|
|6|3.65|3|
|1|3.50|4|

# Type your SQL below

In [2]:
# %% sql
#
# Type your query here