# Rank without RANK

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://leetcode.com/problems/rank-scores/

Write a query to rank scores in the following table without using a window function. If there is a tie between two scores, both should have the same rank. After a tie, the following rank should be the next consecutive integer value.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

## The `scores` table

In [3]:
%%sql

DROP TABLE IF EXISTS scores;
CREATE TABLE scores (
    id INT,
    score NUMERIC
);

INSERT INTO scores
VALUES
    (1, 3.50),
    (2, 3.65),
    (3, 4.00),
    (4, 3.85),
    (5, 4.00),
    (6, 3.65);

SELECT * FROM scores;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
6 rows affected.
6 rows affected.

[(1, Decimal('3.50')),
 (2, Decimal('3.65')),
 (3, Decimal('4.00')),
 (4, Decimal('3.85')),
 (5, Decimal('4.00')),
 (6, Decimal('3.65'))]

## The expected output

| score | score_rank |
|------ |----------- |
| 4.00  | 1          |
| 4.00  | 1          |
| 3.85  | 2          |
| 3.65  | 3          |
| 3.65  | 3          |
| 3.50  | 4          |

# Type your SQL below

In [4]:
# %% sql
#
# Type your query here