# Rank without RANK

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://leetcode.com/problems/rank-scores/

Write a query to rank scores in the following table without using a window function. If there is a tie between two scores, both should have the same rank. After a tie, the following rank should be the next consecutive integer value.

In [2]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
6 rows affected.
6 rows affected.

# Part A

Write a query that orders the elements by score.

In [34]:
%%sql

SELECT
    s1.id,
    s1.score
FROM scores s1
ORDER BY s1.score DESC;

 * postgresql://fknight:***@localhost/postgres
6 rows affected.

[(3, Decimal('4.00')),
 (5, Decimal('4.00')),
 (4, Decimal('3.85')),
 (2, Decimal('3.65')),
 (6, Decimal('3.65')),
 (1, Decimal('3.50'))]

# Part B

Modify the query from Part A to do a self-join on the number of scores that come before the current score. It should have the same number of rows returned as in Part A.

```sql
SELECT
    s1.id,
    s1.score
FROM scores s1
ORDER BY s1.score DESC;
```

In [36]:
%%sql

SELECT
    DISTINCT s1.id,
    s1.score
FROM scores s1
JOIN scores s2
ON s1.score <= s2.score
ORDER BY s1.score DESC;

 * postgresql://fknight:***@localhost/postgres
6 rows affected.

[(3, Decimal('4.00')),
 (5, Decimal('4.00')),
 (4, Decimal('3.85')),
 (6, Decimal('3.65')),
 (2, Decimal('3.65')),
 (1, Decimal('3.50'))]

# Part C

Using the query from Part B, solve the original problem.

```sql
SELECT
    DISTINCT s1.id,
    s1.score
FROM scores s1
JOIN scores s2
ON s1.score <= s2.score
ORDER BY s1.score DESC
```

## The full solution is given below

In [37]:
%%sql 

-- self-join on inequality produces a table with one score and all 
-- scores as large as this joined to it, grouping by first id and
-- score, and counting up all unique values of joined scores yields
-- the equivalent of DENSE_RANK() 
-- [check join output to understand fully]

SELECT 
    DISTINCT s1.id, 
    s1.score, 
    count(DISTINCT s2.score) AS score_rank 
FROM scores s1
JOIN scores s2
ON s1.score <= s2.score
GROUP BY s1.id, s1.score ORDER BY s1.score DESC;

 * postgresql://fknight:***@localhost/postgres
6 rows affected.

[(3, Decimal('4.00'), 1),
 (5, Decimal('4.00'), 1),
 (4, Decimal('3.85'), 2),
 (2, Decimal('3.65'), 3),
 (6, Decimal('3.65'), 3),
 (1, Decimal('3.50'), 4)]