# Time difference between latest actions

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table of user actions, write a query to return for each user the time elapsed between the last action and the second-to-last action, in ascending order by user ID.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

# Part D

Using the subqueries from Parts A, B, & C, solve the original problem.

```sql
WITH date_ranks AS (
    SELECT 
        *, 
        row_number() 
            OVER (PARTITION by user_id ORDER BY date DESC) 
            AS date_rank
    FROM users 
),

latest AS (
    SELECT *
    FROM date_ranks
    WHERE date_rank = 1
),

next_latest AS ( 
    SELECT *
    FROM date_ranks
    WHERE date_rank = 2
)
```

## The expected output

|user_id|days_elapsed|
|--- |--- |
|1|6|
|2|3|
|3|0|
|4|None|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here