# Hacker scores

* Source: https://www.hackerrank.com/contests/simply-sql-the-sequel/challenges/full-score
* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

Given the following two tables, write a query to return the hacker ID, name, and total score (the sum of maximum scores for each challenge completed) ordered by descending score, and by ascending hacker ID in the case of score tie. Do not display entries for hackers with a score of zero.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
4 rows affected.
4 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

# Part B

Using the subquery for Part A, solve the original problem.

```sql
WITH max_scores AS (
    SELECT 
        hacker_id, 
        challenge_id, 
        max(score) AS max_score 
    FROM submissions
    GROUP BY hacker_id, challenge_id
    ORDER BY challenge_id, hacker_id
)
```

## The expected output

|hacker_id|name|total_score|
|--- |--- |--- |
|2|Jane|24|
|3|Joe|24|
|1|John|12|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here