# Cancellation Rates

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
        
From the following table of user IDs, actions, and dates, write a query to return the publication and cancellation rate for each user.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

In [2]:
%%sql

SELECT * FROM users;

 * postgresql://fknight:***@localhost/postgres
8 rows affected.

[(1, 'start', datetime.date(2020, 1, 1)),
 (1, 'cancel', datetime.date(2020, 1, 2)),
 (2, 'start', datetime.date(2020, 1, 3)),
 (2, 'publish', datetime.date(2020, 1, 4)),
 (3, 'start', datetime.date(2020, 1, 5)),
 (3, 'cancel', datetime.date(2020, 1, 6)),
 (1, 'start', datetime.date(2020, 1, 7)),
 (1, 'publish', datetime.date(2020, 1, 8))]

# Part A

For Part A, sum up the actions by type.

## The expected output

|user_id|starts|cancels|publishes|
|--- |--- |--- |--- |
|1|2|1|1|
|2|1|0|1|
|3|1|1|0|

# Type your SQL below

In [3]:
# %%sql
# 
# Type your query here