# Find passengers on board for each bus.

* Source 1: https://stackoverflow.com/questions/69475572/sql-join-query-two-tables
* Source 2: https://stackoverflow.com/questions/68885664/sql-to-find-all-passengers-boarding-a-bus

For each bus, return the number of passengers boarding it. Just two columns: the bus id and passengers on board.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
5 rows affected.
5 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

# Part A

Create a subquery to get the time range for each bus.

## The expected solution is below

```sql
SELECT *, lag(time) over (PARTITION BY origin, destination 
                          ORDER BY time) as prev_time
FROM buses
```

# Part B

Using the following subquery, find the total number of passengers for each bus.

```sql
WITH sub AS (
    SELECT *, lag(time) over (PARTITION BY origin, destination 
                              ORDER BY time) AS prev_time
    FROM buses
)
```

## The expected solution is below

```sql
SELECT sub.id, count(p.id) as passengers_on_board
FROM sub 
LEFT JOIN
     passengers p 
     ON p.origin = sub.origin AND 
         p.destination = sub.destination AND
        (p.time > sub.prev_time or sub.prev_time is NULL) AND
        (p.time <= sub.time)
GROUP BY b.id
ORDER BY b.id;
```

# The full solution is given below

Source: https://stackoverflow.com/questions/68885664/sql-to-find-all-passengers-boarding-a-bus/68885782#68885782

In [2]:
%%sql

WITH b as (
    select *, lag(time) over (partition by origin, destination order by time) as prev_time
    from buses
)

SELECT b.id, count(p.id) as passengers_on_board
FROM b left join
     passengers p 
     ON p.origin = b.origin AND 
        p.destination = b.destination AND
        (p.time > b.prev_time or b.prev_time is null) AND
        (p.time <= b.time)
GROUP BY b.id
ORDER BY b.id;

 * postgresql://fknight:***@localhost/postgres
5 rows affected.

[(10, 0), (20, 1), (21, 3), (22, 1), (30, 1)]