# Mobile and web visitors

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
        
With the following two tables, return the fraction of users who only visited mobile, only visited web, and visited both.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

# Part B

Using the subquery from Part A, determine the number of:
* Mobile users
* Web users
* Both mobile & web users
* Total users

These totals will later be used to generate the percentages for the original problem.

```sql
WITH users AS (
    SELECT 
        DISTINCT COALESCE(m.user_id, w.user_id) as user_id,
        m.user_id IS NOT NULL as is_mobile_user,
        w.user_id IS NOT NULL as is_web_user
    FROM mobile m
    FULL JOIN web w
    ON m.user_id = w.user_id
)
```

## The expected output

|total_mobile|total_web|total_both|total_all|
|--- |--- |--- |--- |
|3|4|3|10|

# Type your SQL below

In [ ]:
# %%sql
# 
# Type your query here