# Mobile and web visitors

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
        
With the following two tables, return the fraction of users who only visited mobile, only visited web, and visited both.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

# Part C

Using the subqueries from Parts A & B, solve the original problem.

```sql
WITH users AS (
    SELECT 
        DISTINCT COALESCE(m.user_id, w.user_id) as user_id,
        m.user_id IS NOT NULL as is_mobile_user,
        w.user_id IS NOT NULL as is_web_user
    FROM mobile m
    FULL JOIN web w
    ON m.user_id = w.user_id
),

WITH totals AS (
    SELECT
        sum(CAST(is_mobile_user AND 
                 NOT is_web_user 
                 AS integer)) 
            AS total_mobile,
    
        sum(CAST(NOT is_mobile_user AND 
                 is_web_user 
                 AS integer)) 
            AS total_web,
    
        sum(CAST(is_mobile_user AND 
                 is_web_user
                 AS integer))
            AS total_both,
    
        count(*) AS total_all
    FROM users
)
```

## The expected output

|mobile_fraction|web_fraction|both_fraction|
|--- |--- |--- |
|0.3|0.4|0.3|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here