# Mobile and web visitors

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
        
With the following two tables, return the fraction of users who only visited mobile, only visited web, and visited both.

In [2]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

# Part A

Create a query that identifies which users are mobile users, which are web users, and which are both.

In [8]:
%%sql

SELECT 
    COALESCE(m.user_id, w.user_id) as user_id,
    m.user_id IS NOT NULL as is_mobile_user,
    w.user_id IS NOT NULL as is_web_user
FROM mobile m
FULL JOIN web w
ON m.user_id = w.user_id

 * postgresql://fknight:***@localhost/postgres
11 rows affected.

[(1, True, False),
 (2, True, True),
 (2, True, True),
 (3, True, True),
 (4, True, True),
 (5, False, True),
 (6, False, True),
 (7, False, True),
 (8, False, True),
 (9, True, False),
 (10, True, False)]

# Part B

Using the subquery from Part A, determine the number of:
* Mobile users
* Web users
* Both mobile & web users
* Total users

These totals will later be used to generate the percentages for the original problem.

```sql
WITH users AS (
    SELECT 
        DISTINCT COALESCE(m.user_id, w.user_id) as user_id,
        m.user_id IS NOT NULL as is_mobile_user,
        w.user_id IS NOT NULL as is_web_user
    FROM mobile m
    FULL JOIN web w
    ON m.user_id = w.user_id
)
```

In [16]:
%%sql

WITH users AS (
    SELECT 
        DISTINCT COALESCE(m.user_id, w.user_id) as user_id,
        m.user_id IS NOT NULL as is_mobile_user,
        w.user_id IS NOT NULL as is_web_user
    FROM mobile m
    FULL JOIN web w
    ON m.user_id = w.user_id
)

SELECT
    sum(CAST(is_mobile_user AND NOT is_web_user AS integer)) AS total_mobile,
    sum(CAST(NOT is_mobile_user AND is_web_user AS integer)) AS total_web,    
    sum(CAST(is_mobile_user AND is_web_user AS integer)) AS total_both,
    count(*) AS total_all
FROM users

 * postgresql://fknight:***@localhost/postgres
1 rows affected.

[(3, 4, 3, 10)]

# Part C

Using the subqueries from Parts A & B, solve the original problem.

```sql
WITH users AS (
    SELECT 
        DISTINCT COALESCE(m.user_id, w.user_id) as user_id,
        m.user_id IS NOT NULL as is_mobile_user,
        w.user_id IS NOT NULL as is_web_user
    FROM mobile m
    FULL JOIN web w
    ON m.user_id = w.user_id
),

WITH totals AS (
    SELECT
        sum(CAST(is_mobile_user AND 
                 NOT is_web_user 
                 AS integer)) 
            AS total_mobile,
    
        sum(CAST(NOT is_mobile_user AND 
                 is_web_user 
                 AS integer)) 
            AS total_web,
    
        sum(CAST(is_mobile_user AND 
                 is_web_user
                 AS integer))
            AS total_both,
    
        count(*) AS total_all
    FROM users
)
```

In [18]:
%%sql

WITH users AS (
    SELECT 
        DISTINCT COALESCE(m.user_id, w.user_id) as user_id,
        m.user_id IS NOT NULL as is_mobile_user,
        w.user_id IS NOT NULL as is_web_user
    FROM mobile m
    FULL JOIN web w
    ON m.user_id = w.user_id
),

totals AS (
    SELECT
        sum(CAST(is_mobile_user AND 
                 NOT is_web_user 
                 AS integer)) 
            AS total_mobile,
    
        sum(CAST(NOT is_mobile_user AND 
                 is_web_user 
                 AS integer)) 
            AS total_web,
    
        sum(CAST(is_mobile_user AND 
                 is_web_user
                 AS integer))
            AS total_both,
    
        count(*) AS total_all
    FROM users
)

SELECT CAST(1.0*total_mobile/total_all AS float) AS mobile_fraction, 
       CAST(1.0*total_web/total_all AS float) AS web_fraction, 
       CAST(1.0*total_both/total_all AS float) AS both_fraction
FROM totals;

 * postgresql://fknight:***@localhost/postgres
1 rows affected.

[(0.3, 0.4, 0.3)]

## The solution is given below

In [2]:
%%sql

-- outer join mobile and web users on user ID

WITH t1 AS (
    SELECT DISTINCT m.user_id AS mobile_user, 
                    w.user_id AS web_user 
    FROM mobile m
    FULL JOIN web w
    ON m.user_id = w.user_id
),

-- count mobile-only users as those present in mobile but null in web,
-- web-only users similarly, and users of both as those not null 
-- in both mobile and web columns, and total n-size with count(*)

t2 AS (
    SELECT sum(CASE WHEN mobile_user IS NOT NULL AND web_user IS NULL THEN 1 ELSE 0 END ) AS n_mobile,
           sum(CASE WHEN web_user IS NOT NULL AND mobile_user IS NULL THEN 1 ELSE 0 END ) AS n_web,
           sum(CASE WHEN web_user IS NOT NULL AND mobile_user IS NOT NULL THEN 1 ELSE 0 END ) AS n_both,
    count(*) AS n_total FROM t1 
)

SELECT CAST(1.0*n_mobile/n_total AS float) AS mobile_fraction, 
       CAST(1.0*n_web/n_total AS float) AS web_fraction, 
       CAST(1.0*n_both/n_total AS float) AS both_fraction
FROM t2;

 * postgresql://fknight:***@localhost/postgres
1 rows affected.

[(0.3, 0.4, 0.3)]