# Retention curve

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following user activity table, write a query to return the fraction of users who are retained (show some activity) a given number of days after joining. By convention, users are considered active on their join day (day 0).

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

# Part C

In order to determine level of activity, we must check each user action with each date.

Using the subqueries from Parts A & B, determine all possible user-date combinations.

```sql
WITH join_dates AS (
    SELECT user_id, action_date AS join_date 
    FROM users
    WHERE action = 'Join' 
),

date_vector AS (
    SELECT 
        cast(generate_series(min(action_date), 
                             max(action_date),
                             '1 day'::interval) AS date) 
        AS date
    FROM users
)
```

## The expected output

|user_id|date|
|--- |--- |
|1|2020-01-01|
|1|2020-01-02|
|1|2020-01-03|
|1|2020-01-04|
|2|2020-01-01|
|2|2020-01-02|
|2|2020-01-03|
|2|2020-01-04|
|3|2020-01-01|
|3|2020-01-02|
|3|2020-01-03|
|3|2020-01-04|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here