# Birthday attendance

* Source: http://orhancanceylan.com/facebook/data/science/interview/2020/05/17/sql_facebook_student-attendance.html
* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082        

Given the following two tables, write a query to return the fraction of students, rounded to two decimal places, who attended school (attendance = 1) on their birthday.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
10 rows affected.
10 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
4 rows affected.
4 rows affected.

# Part A

Create a join query that shows attendance for each student, on their birthday.

## The expected output

|student_id|attendance|date_of_birth|school_date|
|--- |--- |--- |--- |
|1|0|2012-04-03|2020-04-03|
|2|1|2013-04-04|2020-04-04|
|3|1|2014-04-05|2020-04-05|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here