# Birthday attendance

* Source: http://orhancanceylan.com/facebook/data/science/interview/2020/05/17/sql_facebook_student-attendance.html
* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082        

Given the following two tables, write a query to return the fraction of students, rounded to two decimal places, who attended school (attendance = 1) on their birthday.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
10 rows affected.
10 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
4 rows affected.
4 rows affected.

# Part B

Modify the join query provided to find the solution to the original problem.

```sql
SELECT *
FROM attendance a
JOIN students s
ON a.student_id = s.student_id
AND EXTRACT(month FROM s.date_of_birth) = EXTRACT(month FROM a.school_date)
AND EXTRACT(day FROM s.date_of_birth) = EXTRACT(day FROM a.school_date)
```

## The expected output

|birthday_attendance|
|--- |
|0.67|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here