# Most Friended

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
Source: https://leetcode.com/problems/friend-requests-ii-who-has-the-most-friends/

Given the following table, return a list of users and their corresponding friend count. Order the result by descending friend count, and in the case of a tie, by ascending user ID. Assume that only unique friendships are displayed (i.e., \[1, 2\] will not show up again as \[2, 1\] ).

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
4 rows affected.
4 rows affected.

# Part B

Using the subquery from Part A, determine the solution to the original problem.

```sql
WITH users AS (
    SELECT user1 AS user_id FROM friends
    UNION ALL
    SELECT user2 AS user_id FROM friends
    ORDER BY user_id
)
```

## The expected output

|user_id|friend_count|
|--- |--- |
|1|3|
|2|2|
|3|2|
|4|1|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here