# Most Friended

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
Source: https://leetcode.com/problems/friend-requests-ii-who-has-the-most-friends/

Given the following table, return a list of users and their corresponding friend count. Order the result by descending friend count, and in the case of a tie, by ascending user ID. Assume that only unique friendships are displayed (i.e., \[1, 2\] will not show up again as \[2, 1\] ).

In [2]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
4 rows affected.
4 rows affected.

# Part A

Generate a list of all users, with duplication, based on how many times they have friended another person.

In [7]:
%%sql

SELECT user1 AS user_id FROM friends
UNION ALL
SELECT user2 AS user_id FROM friends
ORDER BY user_id

 * postgresql://fknight:***@localhost/postgres
8 rows affected.

[(1,), (1,), (1,), (2,), (2,), (3,), (3,), (4,)]

# Part B

Using the subquery from Part A, determine the solution to the original problem.

```sql
WITH users AS (
    SELECT user1 AS user_id FROM friends
    UNION ALL
    SELECT user2 AS user_id FROM friends
    ORDER BY user_id
)
```

In [8]:
%%sql

WITH users AS (
    SELECT user1 AS user_id FROM friends
    UNION ALL
    SELECT user2 AS user_id FROM friends
    ORDER BY user_id
)

SELECT user_id, count(*) AS friend_count
FROM users
GROUP BY user_id
ORDER BY friend_count DESC, user_id ASC;

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[(1, 3), (2, 2), (3, 2), (4, 1)]

## The full solution is given below

In [6]:
%%sql

-- compile all user appearances into one column, preserving duplicate
-- entries with UNION ALL

WITH t1 AS (
    SELECT user1 AS user_id FROM friends
    UNION ALL
    SELECT user2 AS user_id FROM friends
    ORDER BY user_id
)

SELECT user_id, count(*) AS friend_count FROM t1
GROUP BY user_id
ORDER BY friend_count DESC, user_id ASC;

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[(1, 3), (2, 2), (3, 2), (4, 1)]