# Find the average step time without using `LEAD` or `LAG`

Source: Sachin's email

In [2]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [3]:
%%html
<style>
table {float:left}
</style>

## The `steps` table

In [6]:
%%sql

DROP TABLE IF EXISTS steps;
CREATE TABLE steps (
    session_id int,
    step_no int, 
    end_secs int
);

INSERT INTO steps 
VALUES
    (1,1,10),
    (1,2,25),
    (1,3,45),
    (1,4,60),
    (2,1,15),
    (2,2,20),
    (2,3,40),
    (2,4,60),
    (3,1,10),
    (3,2,22),
    (3,3,42),
    (3,4,50),
    (4,1,5),
    (4,2,12),
    (4,3,24),
    (4,4,36);
    
SELECT * FROM steps;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
16 rows affected.
16 rows affected.

[(1, 1, 10),
 (1, 2, 25),
 (1, 3, 45),
 (1, 4, 60),
 (2, 1, 15),
 (2, 2, 20),
 (2, 3, 40),
 (2, 4, 60),
 (3, 1, 10),
 (3, 2, 22),
 (3, 3, 42),
 (3, 4, 50),
 (4, 1, 5),
 (4, 2, 12),
 (4, 3, 24),
 (4, 4, 36)]

## The expected output

???

# Type your SQL below

In [5]:
# %%sql
#
# Type your query here