# The Patient Puzzle

Source: https://msbiskills.com/2015/03/23/473/

In this puzzle we have to group data based on Patients admission date and discharge date. If any Patients discharge date + 1 = admission date then we have group both rows into one row and sum costs from both the rows. Please check out the sample input and expected output for details.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

SyntaxError: invalid syntax (3265463398.py, line 4)

In [ ]:
%%html
<style>
table {float:left}
</style>

## The `patients` table

In [ ]:
%%sql
DROP TABLE IF EXISTS patients;
CREATE TABLE patients (
    PatientID INT,
    AdmissionDate DATE,
    DischargeDate DATE,
    Cost MONEY
);

-- Insert Data
INSERT INTO patients
VALUES
    (1009,'2014-07-27','2014-07-31',1050.00),
    (1009,'2014-08-01','2014-08-23',1070.00),
    (1009,'2014-08-31','2014-08-31',1900.00),
    (1009,'2014-09-01','2014-09-14',1260.00),
    (1009,'2014-12-01','2014-12-31',2090.00),
    (1024,'2014-06-07','2014-06-28',1900.00),
    (1024,'2014-06-29','2014-07-31',2900.00),
    (1024,'2014-08-01','2014-08-02',1800.00);

-- Verify Data
SELECT PatientID, AdmissionDate, DischargeDate, Cost
  FROM patients;

## The expected output:

|PatientId|AdminssionDate|DischargeDate|Cost|
|--- |--- |--- |--- |
|1009|27-07-2014|23-08-2014|2120|
|1009|31-08-2014|14-09-2014|3160|
|1009|01-12-2014|31-12-2014|2090|
|1024|07-06-2014|02-08-2014|6600|

# Type your SQL below

In [2]:
# %%sql