# Maximally-separated cities

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://www.hackerrank.com/challenges/weather-observation-station-19/problem

Write a query to return the furthest-separated pair of cities for each state, and the corresponding distance (in degrees, rounded to 2 decimal places) between those two cities.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

## The `stations` table

In [3]:
%%sql

DROP TABLE IF EXISTS stations;
CREATE TABLE stations (
    id INT,
    city VARCHAR(20),
    state VARCHAR(20),
    latitude NUMERIC,
    longitude NUMERIC
);

INSERT INTO stations
VALUES
    (1, 'Asheville', 'North Carolina', 35.6, 82.6),
    (2, 'Burlington', 'North Carolina', 36.1, 79.4), 
    (3, 'Chapel Hill', 'North Carolina', 35.9, 79.1), 
    (4, 'Davidson', 'North Carolina', 35.5, 80.8),
    (5, 'Elizabeth City', 'North Carolina', 36.3, 76.3), 
    (6, 'Fargo', 'North Dakota', 46.9, 96.8),
    (7, 'Grand Forks', 'North Dakota', 47.9, 97.0),
    (8, 'Hettinger', 'North Dakota', 46.0, 102.6),
    (9, 'Inkster', 'North Dakota', 48.2, 97.6);
    
SELECT * FROM stations;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

[(1, 'Asheville', 'North Carolina', Decimal('35.6'), Decimal('82.6')),
 (2, 'Burlington', 'North Carolina', Decimal('36.1'), Decimal('79.4')),
 (3, 'Chapel Hill', 'North Carolina', Decimal('35.9'), Decimal('79.1')),
 (4, 'Davidson', 'North Carolina', Decimal('35.5'), Decimal('80.8')),
 (5, 'Elizabeth City', 'North Carolina', Decimal('36.3'), Decimal('76.3')),
 (6, 'Fargo', 'North Dakota', Decimal('46.9'), Decimal('96.8')),
 (7, 'Grand Forks', 'North Dakota', Decimal('47.9'), Decimal('97.0')),
 (8, 'Hettinger', 'North Dakota', Decimal('46.0'), Decimal('102.6')),
 (9, 'Inkster', 'North Dakota', Decimal('48.2'), Decimal('97.6'))]

## The expected output

| state          | city_1      | city_2         | distance |
|--------------- |------------ |--------------- |--------- |
| North Carolina | Asheville   | Elizabeth City | 6.34     |
| North Dakota   | Grand Forks | Hettinger      | 5.91     |

# Type your SQL below

In [4]:
# %%sql
#
# Type your query here