# Taxi cancellation rate

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
Source: https://leetcode.com/problems/trips-and-users/description/

From the given trips and users tables for a taxi service, write a query to return the cancellation rate in the first two days in October, rounded to two decimal places, for trips not involving banned riders or drivers.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

## The `trips` table

In [ ]:
%%sql

DROP TABLE IF EXISTS trips;
CREATE TABLE trips (
    trip_id INT,
    rider_id INT,
    driver_id INT,
    status VARCHAR(100),
    request_date DATE
);

INSERT INTO trips
VALUES
    (1, 1, 10, 'completed',           '2020-10-01'),
    (2, 2, 11, 'cancelled_by_driver', '2020-10-01'),
    (3, 3, 12, 'completed',           '2020-10-01'), 
    (4, 4, 10, 'cancelled_by_rider',  '2020-10-02'), 
    (5, 1, 11, 'completed',           '2020-10-02'), 
    (6, 2, 12, 'completed',           '2020-10-02'), 
    (7, 3, 11, 'completed',           '2020-10-03');

SELECT * FROM trips;

## The `users` table

In [ ]:
%%sql

DROP TABLE IF EXISTS users;
CREATE TABLE users (
    user_id INT,
    banned VARCHAR(3),
    type VARCHAR(6)
);

INSERT INTO users
VALUES
    (1, 'no', 'rider'),
    (2, 'yes', 'rider'),
    (3, 'no', 'rider'), 
    (4, 'no', 'rider'), 
    (10, 'no', 'driver'), 
    (11, 'no', 'driver'), 
    (12, 'no', 'driver');

## The expected output

| request_date | cancel_rate |
|------------- |------------ |
| 2020-10-01   | 0.50        |
| 2020-10-02   | 0.33        |

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here