# Average treatment effect

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table summarizing the results of a study, calculate the average treatment effect as well as upper and lower bounds of the 95% confidence interval. Round these numbers to 3 decimal places.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

## The `study` table

In [5]:
%%sql

DROP TABLE IF EXISTS study;
CREATE TABLE study (
    participant_id INT,
    assignment INT,
    outcome INT
);


INSERT INTO study
VALUES
    (1, 0, 0),
    (2, 1, 1),
    (3, 0, 1), 
    (4, 1, 0), 
    (5, 0, 1), 
    (6, 1, 1), 
    (7, 0, 0),
    (8, 1, 1), 
    (9, 1, 1);
    
SELECT * FROM study;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

[(1, 0, 0),
 (2, 1, 1),
 (3, 0, 1),
 (4, 1, 0),
 (5, 0, 1),
 (6, 1, 1),
 (7, 0, 0),
 (8, 1, 1),
 (9, 1, 1)]

## The expected output

| point_estimate | lower_bound | upper_bound |
|--------------- |------------ |------------ |
| 0.300.         | -0.338      | 0.988       |

# Type your SQL below

In [4]:
# %%sql
#
# Type your query here