# Most frequent items

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table containing a list of dates and items ordered, write a query to return the most frequent item ordered on each date. Return multiple items in the case of a tie.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

## The `items` table

In [3]:
%%sql

DROP TABLE IF EXISTS items;

CREATE TABLE items (
    date DATE,
    item VARCHAR(6)
);

INSERT INTO items
VALUES
    ('01-01-20', 'apple'), 
    ('01-01-20', 'apple'), 
    ('01-01-20', 'pear'), 
    ('01-01-20', 'pear'), 
    ('01-02-20', 'pear'), 
    ('01-02-20', 'pear'), 
    ('01-02-20', 'pear'), 
    ('01-02-20', 'orange');
    
SELECT * FROM items;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

[(datetime.date(2020, 1, 1), 'apple'),
 (datetime.date(2020, 1, 1), 'apple'),
 (datetime.date(2020, 1, 1), 'pear'),
 (datetime.date(2020, 1, 1), 'pear'),
 (datetime.date(2020, 1, 2), 'pear'),
 (datetime.date(2020, 1, 2), 'pear'),
 (datetime.date(2020, 1, 2), 'pear'),
 (datetime.date(2020, 1, 2), 'orange')]

## The expected output

| date     | item  |
|--------- |------ |
| 01-01-20 | apple |
| 01-01-20 | pear  |
| 01-02-20 | pear  |

# Type your SQL below

In [4]:
# %%sql
#
# Type your query here