# Cancellation Rates

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
        
From the following table of user IDs, actions, and dates, write a query to return the publication and cancellation rate for each user.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

## The `users` table

In [3]:
%%sql

DROP TABLE IF EXISTS users;
CREATE TABLE users (
    user_id INT NOT NULL,
    action VARCHAR(7) NOT NULL,
    date DATE
);

INSERT INTO users
VALUES 
    (1,'start',   '01-01-20'), 
    (1,'cancel',  '01-02-20'), 
    (2,'start',   '01-03-20'), 
    (2,'publish', '01-04-20'), 
    (3,'start',   '01-05-20'), 
    (3,'cancel',  '01-06-20'), 
    (1,'start',   '01-07-20'), 
    (1,'publish', '01-08-20');

SELECT * FROM users;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

[(1, 'start', datetime.date(2020, 1, 1)),
 (1, 'cancel', datetime.date(2020, 1, 2)),
 (2, 'start', datetime.date(2020, 1, 3)),
 (2, 'publish', datetime.date(2020, 1, 4)),
 (3, 'start', datetime.date(2020, 1, 5)),
 (3, 'cancel', datetime.date(2020, 1, 6)),
 (1, 'start', datetime.date(2020, 1, 7)),
 (1, 'publish', datetime.date(2020, 1, 8))]

## The expected output

| user_id | publish_rate | cancel_rate |
|-------- |------------- |------------ |
| 1       | 0.5          | 0.5         |
| 2       | 1.0          | 0.0         |
| 3       | 0.0          | 1.0         |

# Type your SQL below

In [4]:
# %% sql
#
# Type your query here