# Mobile and web visitors

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
        
With the following two tables, return the fraction of users who only visited mobile, only visited web, and visited both.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

# The `mobile` table

In [3]:
%%sql

DROP TABLE IF EXISTS mobile;
CREATE TABLE mobile (
    user_id INT,
    page_URL VARCHAR(1)
);

INSERT INTO mobile
VALUES
    (1,  'A'), 
    (2,  'B'), 
    (3,  'C'), 
    (4,  'A'), 
    (9,  'B'), 
    (2,  'C'), 
    (10, 'B');
    
SELECT * FROM mobile;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'A'), (9, 'B'), (2, 'C'), (10, 'B')]

## The `web` table

In [4]:
%%sql

DROP TABLE IF EXISTS web;
CREATE TABLE web (
    user_id INT,
    page_URL VARCHAR(1)
);

INSERT INTO web
VALUES
    (6, 'A'), 
    (2, 'B'), 
    (3, 'C'), 
    (7, 'A'), 
    (4, 'B'), 
    (8, 'C'), 
    (5, 'B');
    
SELECT * FROM web;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

[(6, 'A'), (2, 'B'), (3, 'C'), (7, 'A'), (4, 'B'), (8, 'C'), (5, 'B')]

## The expected output

| mobile_fraction | web_fraction | both_fraction |
|---------------- |------------- |-------------- |
| 0.3             | 0.4          | 0.3           |

# Type your SQL below

In [5]:
# %% sql
#
# Type your query here