# Project aggregation

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
Source: https://www.hackerrank.com/challenges/sql-projects/problem

The projects table contains three columns: task_id, start_date, and
end_date. The difference between end_date and start_date is 1 day for each row in the table. If task end dates are consecutive they are part of the same project. Projects do not overlap.

Write a query to return the start and end dates of each project, and the number of days it took to complete. Order by ascending project duration, and descending start date in the case of a tie.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

In [3]:
## The `projects` table

In [4]:
%%sql

DROP TABLE IF EXISTS projects;
CREATE TABLE projects (
    task_id INT,
    start_date DATE,
    end_date DATE
);

INSERT INTO projects
VALUES
    (1, '10-01-20', '10-02-20'), 
    (2, '10-02-20', '10-03-20'), 
    (3, '10-03-20', '10-04-20'), 
    (4, '10-13-20', '10-14-20'), 
    (5, '10-14-20', '10-15-20'), 
    (6, '10-28-20', '10-29-20'), 
    (7, '10-30-20', '10-31-20');

SELECT * FROM projects;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

[(1, datetime.date(2020, 10, 1), datetime.date(2020, 10, 2)),
 (2, datetime.date(2020, 10, 2), datetime.date(2020, 10, 3)),
 (3, datetime.date(2020, 10, 3), datetime.date(2020, 10, 4)),
 (4, datetime.date(2020, 10, 13), datetime.date(2020, 10, 14)),
 (5, datetime.date(2020, 10, 14), datetime.date(2020, 10, 15)),
 (6, datetime.date(2020, 10, 28), datetime.date(2020, 10, 29)),
 (7, datetime.date(2020, 10, 30), datetime.date(2020, 10, 31))]

## The expected output

| start_date | end_date   | project_duration |
|----------- |----------- |----------------- |
| 2020-10-28 | 2020-10-29 | 1                |
| 2020-10-30 | 2020-10-31 | 1                |
| 2020-10-13 | 2020-10-15 | 2                |
| 2020-10-01 | 2020-10-04 | 3                |

# Type your SQL below

In [5]:
# %% sql
#
# Type your query here