# Rank without RANK

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://leetcode.com/problems/rank-scores/

Write a query to rank scores in the following table without using a window function. If there is a tie between two scores, both should have the same rank. After a tie, the following rank should be the next consecutive integer value.

In [1]:
%run Question_18_RankWithoutRANK.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
6 rows affected.
6 rows affected.

## The solution is given below

In [2]:
%%sql 

-- self-join on inequality produces a table with one score and all 
-- scores as large as this joined to it, grouping by first id and
-- score, and counting up all unique values of joined scores yields
-- the equivalent of DENSE_RANK() 
-- [check join output to understand fully]

SELECT s1.score, count(DISTINCT s2.score) AS score_rank FROM scores s1
JOIN scores s2
ON s1.score <= s2.score
GROUP BY s1.id, s1.score ORDER BY 1 DESC;

 * postgresql://fknight:***@localhost/postgres
6 rows affected.

[(Decimal('4.00'), 1),
 (Decimal('4.00'), 1),
 (Decimal('3.85'), 2),
 (Decimal('3.65'), 3),
 (Decimal('3.65'), 3),
 (Decimal('3.50'), 4)]