# Most Friended

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
Source: https://leetcode.com/problems/friend-requests-ii-who-has-the-most-friends/

Given the following table, return a list of users and their corresponding friend count. Order the result by descending friend count, and in the case of a tie, by ascending user ID. Assume that only unique friendships are displayed (i.e., [1, 2] will not show up again as [2, 1] ).

In [2]:
%run Question_14_MostFriended.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
4 rows affected.
4 rows affected.

## The solution is given below

In [3]:
%%sql

-- compile all user appearances into one column, preserving duplicate
-- entries with UNION ALL

WITH t1 AS (
SELECT user1 AS user_id FROM friends
UNION ALL
SELECT user2 AS user_id FROM friends
)

SELECT user_id, count(*) AS friend_count FROM t1
GROUP BY 1
ORDER BY 2 DESC, 1 ASC;

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[(1, 3), (2, 2), (3, 2), (4, 1)]