# Find passengers on board for each bus.

* Source 1: https://stackoverflow.com/questions/69475572/sql-join-query-two-tables
* Source 2: https://stackoverflow.com/questions/68885664/sql-to-find-all-passengers-boarding-a-bus

For each bus, return the number of passengers boarding it. Just two columns: the bus id and passengers on board.

In [1]:
%run Question_01_BusesAndPassengers.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
5 rows affected.
5 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

## The solution is given below

Source: https://stackoverflow.com/questions/68885664/sql-to-find-all-passengers-boarding-a-bus/68885782#68885782

In [2]:
%%sql

select b.id, b.origin, b.destination, b.time, count(p.id) as num_passengers
from (select b.*, lag(time) over (partition by origin, destination order by time) as prev_time
      from buses b
     ) b left join
     passengers p 
     on p.origin = b.origin and p.destination = b.destination and
        (p.time > b.prev_time or b.prev_time is null) and
        (p.time <= b.time)
group by b.id, b.origin, b.destination, b.time;

 * postgresql://fknight:***@localhost/postgres
5 rows affected.

[(10, 'Warsaw', 'Berlin', datetime.time(10, 55), 0),
 (22, 'Berlin', 'Paris', datetime.time(21, 40), 1),
 (20, 'Berlin', 'Paris', datetime.time(6, 20), 1),
 (30, 'Paris', 'Madrid', datetime.time(13, 30), 1),
 (21, 'Berlin', 'Paris', datetime.time(14, 0), 3)]