# Taxi cancellation rate

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
Source: https://leetcode.com/problems/trips-and-users/description/

From the given trips and users tables for a taxi service, write a query to return the cancellation rate in the first two days in October, rounded to two decimal places, for trips not involving banned riders or drivers.

In [1]:
%run Question_29_TaxiCancellationRate.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
10 rows affected.
10 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

## The solution is given below

In [2]:
%%sql

-- filter trips table to exclude banned riders and drivers, then 
-- calculate cancellation rate a trips completed, rounding as 
-- requested and filtering to first two days of the month

SELECT 
    request_date,
    round(1.0*sum(CASE WHEN status != 'completed' THEN 1 ELSE 0 END)/count(*), 2) AS cancel_rate
FROM trips
WHERE rider_id NOT IN (SELECT user_id
                       FROM users
                       WHERE banned = 'yes')
AND driver_id NOT IN (SELECT user_id
                      FROM users
                      WHERE banned = 'yes')
GROUP BY request_date
ORDER BY request_date ASC
;

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(datetime.date(2020, 10, 1), Decimal('0.33')),
 (datetime.date(2020, 10, 2), Decimal('0.00')),
 (datetime.date(2020, 10, 3), Decimal('0.50'))]