# Median latitude

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://www.hackerrank.com/challenges/weather-observation-station-20/problem

Write a query to return the median latitude of weather stations from each state in the following table, rounding to the nearest tenth of a degree. Note that there is no MEDIAN() function in SQL!

In [1]:
%run Question_22_MedianLatitude.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

## The solution is given below

In [2]:
%%sql

-- assign latitude-ordered row numbers for each state, and get total
-- row count for each state

WITH t1 AS (
    SELECT *, row_number() OVER (PARTITION by state ORDER BY latitude ASC) AS row_number_state,
    count(*) OVER (PARTITION by state) AS row_count FROM stations 
)

-- filter to middle row (for odd total row number) or middle two rows
-- (for even total row number), then get average value of those, 
-- grouping by state

SELECT state, CAST(avg(latitude) AS float) AS median_latitude FROM t1
WHERE row_number_state >= 1.0*row_count/2
AND row_number_state <= 1.0*row_count/2 + 1 GROUP BY state;

 * postgresql://fknight:***@localhost/postgres
2 rows affected.

[('North Carolina', 35.9), ('North Dakota', 47.4)]