# Most frequent items

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table containing a list of dates and items ordered, write a query to return the most frequent item ordered on each date. Return multiple items in the case of a tie.

In [1]:
%run Question_08_MostFreqItems.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

## The solution is given below

In [2]:
%%sql

WITH t1 AS (
    SELECT date, item, count(*) AS item_count
    FROM items GROUP BY 1, 2 ORDER BY 1
),

t2 AS (
    SELECT *, rank() OVER (PARTITION by date ORDER BY item_count DESC) AS date_rank
    FROM t1
)

SELECT date, item FROM t2
WHERE date_rank = 1;

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(datetime.date(2020, 1, 1), 'apple'),
 (datetime.date(2020, 1, 1), 'pear'),
 (datetime.date(2020, 1, 2), 'pear')]