# Content recommendation

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

Using the following two tables, write a query to return page
recommendations to a social media user based on the pages that their
friends have liked, but that they have not yet marked as liked. Order the result by ascending user ID.

In [1]:
%run Question_11_ContentRecommendation.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

## The solution is given below

In [2]:
%%sql

-- inner join friends and page likes tables on user_id

WITH t1 AS (
    SELECT l.user_id, l.page, f.friend_id FROM likes l
    JOIN friends f
    ON l.user_id = f.user_id 
),

-- left join likes on this, requiring user = friend and user likes = friend likes

t2 AS (
    SELECT t1.user_id, t1.page, t1.friend_id, l.page AS friend_likes
    FROM t1
    LEFT JOIN likes l
    ON t1.friend_id = l.user_id
    AND t1.page = l.page 
)

-- if a friend pair doesnâ€™t share a common page like, friend likes column will be null 
-- pull out these entries

SELECT DISTINCT friend_id AS user_id, page AS recommended_page FROM t2
WHERE friend_likes IS NULL
ORDER BY 1 ASC

 * postgresql://fknight:***@localhost/postgres
5 rows affected.

[(2, 'B'), (2, 'C'), (3, 'A'), (4, 'A'), (4, 'C')]