# The Patient Puzzle

Source: https://msbiskills.com/2015/03/23/473/

In this puzzle we have to group data based on Patients admission date and discharge date. If any Patients discharge date + 1 = admission date then we have group both rows into one row and sum costs from both the rows. Please check out the sample input and expected output for details.

In [1]:
%run Question_02_PatientProblem.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

## The solution is given below

In [11]:
%%sql

WITH CTE AS (    
    select a.patientid,a.admissiondate,a.dischargedate,a.cost,
    case when b.cost is null then 1 else 0 end as start_mark
    from PatientProblem a
    left join PatientProblem b
    on a.PatientID=b.PatientID and 
    (a.AdmissionDate - interval '1 day') = b.DischargeDate
),

CTE3 as (
    Select patientid,admissiondate,dischargedate,cost,start_mark,
    sum(start_mark) over(order by patientid,admissiondate) as run from CTE 
)
Select patientid,min(admissiondate) as admissiondate,max(dischargedate) as dischargedate,sum(cost) as cost
from CTE3 group by patientid,run ORDER BY patientid, admissiondate;

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[(1009, datetime.date(2014, 7, 27), datetime.date(2014, 8, 23), '$2,120.00'),
 (1009, datetime.date(2014, 8, 31), datetime.date(2014, 9, 14), '$3,160.00'),
 (1009, datetime.date(2014, 12, 1), datetime.date(2014, 12, 31), '$2,090.00'),
 (1024, datetime.date(2014, 6, 7), datetime.date(2014, 8, 2), '$6,600.00')]