# Cancellation Rates

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
        
From the following table of user IDs, actions, and dates, write a query to return the publication and cancellation rate for each user.

In [1]:
%run Question_06_CancellationRates.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

## The solution is given below

In [9]:
%%sql

WITH t1 as(
    SELECT user_id,
    sum(CASE WHEN action = 'start' THEN 1 ELSE 0 END) AS starts, 
    sum(CASE WHEN action = 'cancel' THEN 1 ELSE 0 END) AS cancels, 
    sum(CASE WHEN action = 'publish' THEN 1 ELSE 0 END) AS publishes
    FROM users GROUP BY 1 ORDER BY 1
)

SELECT user_id, CAST(1.0*publishes/starts as float) AS publish_rate, 
                CAST(1.0*cancels/starts as float) AS cancel_rate
FROM t1;

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(1, 0.5, 0.5), (2, 1.0, 0.0), (3, 0.0, 1.0)]