# Birthday attendance

* Source: http://orhancanceylan.com/facebook/data/science/interview/2020/05/17/sql_facebook_student-attendance.html
* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082        

Given the following two tables, write a query to return the fraction of students, rounded to two decimal places, who attended school (attendance = 1) on their birthday.

In [1]:
%run Question_16_BirthdayAttendance.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
10 rows affected.
10 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
4 rows affected.
4 rows affected.

## The solution is given below

In [2]:
%%sql

-- join attendance and students table on student ID, and day and month of school day = day and month of birthday, summing ones in attendance column, dividing by total number of entries, and rounding

SELECT round(1.0*sum(attendance)/count(*), 2) AS birthday_attendance FROM attendance a
JOIN students s
ON a.student_id = s.student_id
AND extract(MONTH FROM school_date) = extract(MONTH FROM date_of_birth)
AND extract(DAY FROM school_date) = extract(DAY FROM date_of_birth)

 * postgresql://fknight:***@localhost/postgres
1 rows affected.

[(Decimal('0.67'),)]