# Triangles

Write a query that checks the lengths of three sides, and determines if the triangle is isosceles, equilateral, scalene, or not a triangle.

In [2]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [3]:
%%html
<style>
table {float:left}
</style>

In [6]:
%%sql

DROP TABLE IF EXISTS triangles;

CREATE TABLE triangles (
    id INT,
    a INT,
    b INT,
    c INT
);

INSERT INTO triangles
VALUES 
    (1, 20, 20, 23),
    (2, 20, 20, 20),
    (3, 20, 21, 22),
    (4, 13, 14, 30);
    
SELECT * FROM triangles

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
4 rows affected.
4 rows affected.

[(1, 20, 20, 23), (2, 20, 20, 20), (3, 20, 21, 22), (4, 13, 14, 30)]

In [ ]:
## The expected output

1  Isosceles
2  Equilateral
3  Scalene
4  Not A Triangle