# Cumulative salary sum

* Source: https://leetcode.com/problems/find-cumulative-salary-of-an-employee/
* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

The following table holds monthly salary information for several employees. Write a query to get, for each month, the cumulative sum of an employeeâ€™s salary over a period of 3 months, excluding the most recent month. The result should be ordered by ascending employee ID and month.

In [2]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

# Part B

Using the subquery from Part A, solve the original problem.

```sql
WITH month_ranks AS (
    SELECT 
        *, 
        rank() 
            OVER (PARTITION by id ORDER BY pay_month DESC) 
            AS month_rank
    FROM employees
    ORDER BY id, pay_month
)
```

## The expected output

|id|pay_month|salary|cumulative_sum|
|--- |--- |--- |--- |
|1|1|\$20.00|\$20.00|
|1|2|\$30.00|\$50.00|
|1|3|\$40.00|\$90.00|
|2|1|\$20.00|\$20.00|
|3|2|\$40.00|\$40.00|
|3|3|\$60.00|\$100.00|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here