# StudentData

Source: Sachin's email

Show subject scores for each student.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
6 rows affected.
6 rows affected.

# The full solution is below

In [12]:
%%sql

WITH subject_scores AS (
    SELECT 
        id,
        CASE
            WHEN subject = 'Maths' 
            THEN marks 
            ELSE 0 
        END as maths,
        CASE
            WHEN subject = 'English' 
            THEN marks
            ELSE 0 
        END as english,
        CASE
            WHEN subject = 'Science' 
            THEN marks 
            ELSE 0 
        END as science
    FROM student_data
)

SELECT 
    id,
    SUM(maths) as maths,
    SUM(english) as english,
    SUM(science) as science
FROM subject_scores
GROUP BY id
ORDER BY id

 * postgresql://fknight:***@localhost/postgres
2 rows affected.

[(1, 70, 60, 75), (2, 72, 62, 85)]