# Most frequent items

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table containing a list of dates and items ordered, write a query to return the most frequent item ordered on each date. Return multiple items in the case of a tie.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

# Part A

Write a query that gives the item count, per item, per date.

In [2]:
%%sql

SELECT
    date,
    item,
    count(*) AS item_count
FROM items
GROUP BY date, item
ORDER BY date

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[(datetime.date(2020, 1, 1), 'apple', 2),
 (datetime.date(2020, 1, 1), 'pear', 2),
 (datetime.date(2020, 1, 2), 'orange', 1),
 (datetime.date(2020, 1, 2), 'pear', 3)]

# Part B

Using the subquery above, generate date groupings for each date given.

In [3]:
%%sql

WITH item_counts AS (
    SELECT
        date,
        item,
        count(*) AS item_count
    FROM items
    GROUP BY date, item
    ORDER BY date
)

SELECT *, rank() OVER (PARTITION by date ORDER BY item_count DESC) AS date_rank
FROM item_counts

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[(datetime.date(2020, 1, 1), 'apple', 2, 1),
 (datetime.date(2020, 1, 1), 'pear', 2, 1),
 (datetime.date(2020, 1, 2), 'pear', 3, 1),
 (datetime.date(2020, 1, 2), 'orange', 1, 2)]

# Part C

Using the two subqueries above, solve the original problem.

In [4]:
%%sql

WITH item_counts AS (
    SELECT
        date,
        item,
        count(*) AS item_count
    FROM items
    GROUP BY date, item
    ORDER BY date
),

date_ranks AS (
    SELECT *, rank() OVER (PARTITION by date ORDER BY item_count DESC) AS date_rank
    FROM item_counts
)

SELECT date, item FROM date_ranks
WHERE date_rank = 1;

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(datetime.date(2020, 1, 1), 'apple'),
 (datetime.date(2020, 1, 1), 'pear'),
 (datetime.date(2020, 1, 2), 'pear')]

## The full solution is given below

In [5]:
%%sql

WITH item_counts AS (
    SELECT
        date,
        item,
        count(*) AS item_count
    FROM items
    GROUP BY date, item
    ORDER BY date
),

date_ranks AS (
    SELECT *, rank() OVER (PARTITION by date ORDER BY item_count DESC) AS date_rank
    FROM item_counts
)

SELECT date, item FROM date_ranks
WHERE date_rank = 1;

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(datetime.date(2020, 1, 1), 'apple'),
 (datetime.date(2020, 1, 1), 'pear'),
 (datetime.date(2020, 1, 2), 'pear')]