# Find users total hours streamed

Source: https://stackoverflow.com/questions/62905418/find-users-total-hours-streamed

This table is a "heartbeat" tracking event where one row is generated each minute for each streamer while that streamer is live. If a streamer is live for 60 minutes, 60 rows would be generated in this table.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
14 rows affected.
14 rows affected.
 * postgresql://fknight:***@localhost/postgres
3 rows affected.

## Part A

Write a query that returns total monthly hours streamed for each month, in order by month.

## Example answer

In [2]:
%%sql

SELECT 
    EXTRACT(year from time_minute) as year,
    EXTRACT(month from time_minute) as month,
    ROUND(cast(1.0*count(*) / 60 as decimal), 5) as hours
FROM minute_streamed
GROUP BY year, month
ORDER BY year, month

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(Decimal('2020'), Decimal('3'), Decimal('0.10000')),
 (Decimal('2020'), Decimal('4'), Decimal('0.11667')),
 (Decimal('2020'), Decimal('6'), Decimal('0.01667'))]

## Part B

Write a query that returns a row for each streamer with columns for their total hours streamed (in any category) and percentage of hours streamed in a Call of Duty game category. 

Examples of Call of Duty games include:
* Call of Duty: Black Ops
* Call of Duty: Modern Warfare
* Call of Duty: Advanced Warfare

## Example answer

In [4]:
%%sql

WITH is_cods AS (
    SELECT
        *,
        CASE
            WHEN CATEGORY LIKE '%Call of Duty%' 
            THEN 1 
            ELSE 0
        END AS is_cod
    FROM
        minute_streamed
) 

SELECT 
    username,
    ROUND(1.0*SUM(is_cod) / 60, 4) AS cod_hours,
    CAST(SUM(is_cod)/(1.0*count(*)) AS float) AS cod_percent
from 
    is_cods
GROUP BY username

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[('jamie', Decimal('0.0167'), 0.25),
 ('rick', Decimal('0.0500'), 0.6),
 ('alex', Decimal('0.0000'), 0.0)]

## Part C

For each calendar month, output the list of streamers who increased their hours streamed from the previous calendar month.

In [14]:
%%sql

WITH streamer_minutes AS (
    SELECT
        username,
        EXTRACT(YEAR from time_minute) AS year,
        EXTRACT(month from time_minute) AS month,
        1.0*COUNT(*) AS minutes
    FROM minute_streamed
    GROUP BY year, month, username
),

prev_month_minutes AS (
    SELECT
        *,
        COALESCE(
            LAG(minutes, 1)
                OVER 
                (PARTITION BY username 
                 ORDER BY year, month),
            0
        ) AS previous_month_minutes
    FROM streamer_minutes
),

diffs AS (
    SELECT
        *,
        minutes - previous_month_minutes AS diff
    FROM prev_month_minutes
)

SELECT 
    *
FROM diffs
WHERE diff > 0

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[('alex', Decimal('2020'), Decimal('3'), Decimal('2.0'), Decimal('0'), Decimal('2.0')),
 ('jamie', Decimal('2020'), Decimal('3'), Decimal('2.0'), Decimal('0'), Decimal('2.0')),
 ('rick', Decimal('2020'), Decimal('3'), Decimal('2.0'), Decimal('0'), Decimal('2.0')),
 ('rick', Decimal('2020'), Decimal('4'), Decimal('3.0'), Decimal('2.0'), Decimal('1.0'))]