# Time difference between latest actions

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table of user actions, write a query to return for each user the time elapsed between the last action and the second-to-last action, in ascending order by user ID.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

## The `users` table

In [3]:
%%sql

DROP TABLE IF EXISTS users;
CREATE TABLE users (
    user_id INT NOT NULL,
    action VARCHAR(7) NOT NULL,
    date DATE
);

INSERT INTO users
VALUES
    (1, 'start',   '2-12-20'), 
    (1, 'cancel',  '2-13-20'), 
    (2, 'start',   '2-11-20'), 
    (2, 'publish', '2-14-20'), 
    (3, 'start',   '2-15-20'), 
    (3, 'cancel',  '2-15-20'), 
    (4, 'start',   '2-18-20'), 
    (1, 'publish', '2-19-20');
    
SELECT * FROM users;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

[(1, 'start', datetime.date(2020, 2, 12)),
 (1, 'cancel', datetime.date(2020, 2, 13)),
 (2, 'start', datetime.date(2020, 2, 11)),
 (2, 'publish', datetime.date(2020, 2, 14)),
 (3, 'start', datetime.date(2020, 2, 15)),
 (3, 'cancel', datetime.date(2020, 2, 15)),
 (4, 'start', datetime.date(2020, 2, 18)),
 (1, 'publish', datetime.date(2020, 2, 19))]

## The expected output

| user_id | days_elapsed |
|-------- |------------- |
| 1       | 6            |
| 2       | 3            |
| 3       | 0            |
| 4       | NULL         |

# Type your SQL below

In [4]:
# %% sql
#
# Type your query here