# Upgrade rate by product action

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

Given the following two tables, return the fraction of users, rounded to two decimal places, who accessed feature two (type: F2 in events table) and upgraded to premium within the first 30 days of signing up.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

## The `users` table

In [3]:
%%sql

DROP TABLE IF EXISTS users;
CREATE TABLE users (
    user_id INT,
    name VARCHAR(6),
    join_date DATE
);

INSERT INTO users
VALUES
    (1, 'Jon',    '2-14-20'), 
    (2, 'Jane',   '2-14-20'), 
    (3, 'Jill',   '2-15-20'), 
    (4, 'Josh',   '2-15-20'), 
    (5, 'Jean',   '2-16-20'), 
    (6, 'Justin', '2-17-20'),
    (7, 'Jeremy', '2-18-20');

SELECT * FROM users;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

[(1, 'Jon', datetime.date(2020, 2, 14)),
 (2, 'Jane', datetime.date(2020, 2, 14)),
 (3, 'Jill', datetime.date(2020, 2, 15)),
 (4, 'Josh', datetime.date(2020, 2, 15)),
 (5, 'Jean', datetime.date(2020, 2, 16)),
 (6, 'Justin', datetime.date(2020, 2, 17)),
 (7, 'Jeremy', datetime.date(2020, 2, 18))]

## The `events` table

In [4]:
%%sql

DROP TABLE IF EXISTS events;
CREATE TABLE events (
    user_id INT,
    event_type VARCHAR(2),
    access_date DATE
);

INSERT INTO events
VALUES
    (1, 'F1', '3-1-20'), 
    (2, 'F2', '3-2-20'), 
    (2, 'P',  '3-12-20'),
    (3, 'F2', '3-15-20'), 
    (4, 'F2', '3-15-20'), 
    (1, 'P',  '3-16-20'), 
    (3, 'P',  '3-22-20');

SELECT * FROM events;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

[(1, 'F1', datetime.date(2020, 3, 1)),
 (2, 'F2', datetime.date(2020, 3, 2)),
 (2, 'P', datetime.date(2020, 3, 12)),
 (3, 'F2', datetime.date(2020, 3, 15)),
 (4, 'F2', datetime.date(2020, 3, 15)),
 (1, 'P', datetime.date(2020, 3, 16)),
 (3, 'P', datetime.date(2020, 3, 22))]

## The expected output

| upgrade_rate |
|------------- |
| 0.33         |

# Type your SQL below

In [5]:
# %% sql
#
# Type your query here