# Retention curve

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following user activity table, write a query to return the fraction of users who are retained (show some activity) a given number of days after joining. By convention, users are considered active on their join day (day 0).

In [2]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [3]:
%%html
<style>
table {float:left}
</style>

## The `users` table

In [5]:
%%sql

DROP TABLE IF EXISTS users;
CREATE TABLE users (
    user_id INT,
    action_date DATE,
    action VARCHAR(6)
);

INSERT INTO users
VALUES
    (1, '01-01-20', 'Join'), 
    (1, '01-02-20', 'Access'), 
    (2, '01-02-20', 'Join'), 
    (3, '01-02-20', 'Join'),
    (1, '01-03-20', 'Access'), 
    (3, '01-03-20', 'Access'), 
    (1, '01-04-20', 'Access');

SELECT * FROM users;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

[(1, datetime.date(2020, 1, 1), 'Join'),
 (1, datetime.date(2020, 1, 2), 'Access'),
 (2, datetime.date(2020, 1, 2), 'Join'),
 (3, datetime.date(2020, 1, 2), 'Join'),
 (1, datetime.date(2020, 1, 3), 'Access'),
 (3, datetime.date(2020, 1, 3), 'Access'),
 (1, datetime.date(2020, 1, 4), 'Access')]

## The expected output

| day_no | n_total | n_active | retention |
|------- |-------- |--------- |---------- |
| 0      | 3       | 3        | 1.00      |
| 1      | 3       | 2        | 0.67      |
| 2      | 3       | 1        | 0.33      |
| 3      | 1       | 1        | 1.00      |

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here