# Find users total hours streamed

Source: https://stackoverflow.com/questions/62905418/find-users-total-hours-streamed

This table is a "heartbeat" tracking event where one row is generated each minute for each streamer while that streamer is live. If a streamer is live for 60 minutes, 60 rows would be generated in this table.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

## The `minute_streamed` table

In [2]:
%%sql

DROP TABLE IF EXISTS minute_streamed;

CREATE TABLE minute_streamed (
    time_minute timestamp,
    username varchar(50),
    category varchar(50),
    concurrent_viewers int
);
    
INSERT INTO minute_streamed
VALUES
    ('2020-03-18 12:00:00', 'alex',  'Fornite',                      125),
    ('2020-03-18 12:01:00', 'alex',  'Fornite',                      130),
    ('2020-03-19 15:30:00', 'jamie', 'Just Chatting',                 13),
    ('2020-03-19 15:31:00', 'jamie', 'Food & Drink',                  15),
    ('2020-03-20 10:30:00', 'rick',  'Call of Duty: Black Ops',      150),
    ('2020-03-20 10:31:00', 'rick',  'Call of Duty: Modern Warfare', 120),
    ('2020-04-21 09:30:00', 'rick',  'Fornite',                      120),
    ('2020-04-20 10:31:00', 'rick',  'Call of Duty: Modern Warfare', 120),
    ('2020-04-21 09:30:00', 'rick',  'Fornite',                      120),
    ('2020-04-20 10:31:00', 'jamie', 'Call of Duty: Modern Warfare', 120),
    ('2020-04-21 09:30:00', 'jamie', 'Fornite',                      120),
    ('2020-04-18 12:00:00', 'alex',  'Fornite',                      125),
    ('2020-04-18 12:01:00', 'alex',  'Fornite',                      130),
    ('2020-06-18 14:00:00', 'alex',  'Fornite',                      120);
    
SELECT * FROM minute_streamed;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
14 rows affected.
14 rows affected.

[(datetime.datetime(2020, 3, 18, 12, 0), 'alex', 'Fornite', 125),
 (datetime.datetime(2020, 3, 18, 12, 1), 'alex', 'Fornite', 130),
 (datetime.datetime(2020, 3, 19, 15, 30), 'jamie', 'Just Chatting', 13),
 (datetime.datetime(2020, 3, 19, 15, 31), 'jamie', 'Food & Drink', 15),
 (datetime.datetime(2020, 3, 20, 10, 30), 'rick', 'Call of Duty: Black Ops', 150),
 (datetime.datetime(2020, 3, 20, 10, 31), 'rick', 'Call of Duty: Modern Warfare', 120),
 (datetime.datetime(2020, 4, 21, 9, 30), 'rick', 'Fornite', 120),
 (datetime.datetime(2020, 4, 20, 10, 31), 'rick', 'Call of Duty: Modern Warfare', 120),
 (datetime.datetime(2020, 4, 21, 9, 30), 'rick', 'Fornite', 120),
 (datetime.datetime(2020, 4, 20, 10, 31), 'jamie', 'Call of Duty: Modern Warfare', 120),
 (datetime.datetime(2020, 4, 21, 9, 30), 'jamie', 'Fornite', 120),
 (datetime.datetime(2020, 4, 18, 12, 0), 'alex', 'Fornite', 125),
 (datetime.datetime(2020, 4, 18, 12, 1), 'alex', 'Fornite', 130),
 (datetime.datetime(2020, 6, 18, 14, 0), 'alex', 'Fornite', 120)]

## Part 1: Write a query that returns total monthly hours streamed for each month, in order by month.

In [3]:
# %%sql

## Part 2: Write a query that returns a row for each streamer with columns for their total hours streamed (in any category) and percentage of hours streamed in a Call of Duty game category. 

Examples of Call of Duty games include:
* Call of Duty: Black Ops
* Call of Duty: Modern Warfare
* Call of Duty: Advanced Warfare

In [4]:
# %%sql

## Part 3: For each calendar month, output the list of streamers who increased their hours streamed from the previous calendar month.

In [5]:
# %%sql