# Three in a row

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
Source: https://leetcode.com/problems/human-traffic-of-stadium/solution/
        
The attendance table logs the number of people counted in a crowd each day an event is held. Write a query to return a table showing the date and visitor count of high-attendance periods, defined as three consecutive entries (not necessarily consecutive dates) with more than 100 visitors.

In [1]:
%run Question_25_ThreeInARow.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

## The solution is given below

In [4]:
%%sql

-- create row numbers to get handle on consecutive days, 
-- since date column has some gaps

WITH t1 AS (
    SELECT *, row_number() OVER (ORDER BY event_date) AS day_num
    FROM attendance 
),

-- filter this to exclude days with > 100 visitors

t2 AS (
    SELECT *
    FROM t1
    WHERE visitors > 100 
),

-- self-join (inner) twice on offset = 1 day and offset = 2 days

t3 AS (
SELECT a.day_num AS day1, b.day_num AS day2, c.day_num AS day3 FROM t2 a
JOIN t2 b
ON a.day_num = b.day_num - 1
JOIN t2 c
ON a.day_num = c.day_num - 2 )

-- pull date and visitor count for consecutive days surfaced in previous table

SELECT event_date, visitors
FROM t1
WHERE day_num IN (SELECT day1 FROM t3) 
OR day_num IN (SELECT day2 FROM t3) 
OR day_num IN (SELECT day3 FROM t3)

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[(datetime.date(2020, 1, 7), 145),
 (datetime.date(2020, 1, 8), 1455),
 (datetime.date(2020, 1, 11), 199),
 (datetime.date(2020, 1, 12), 188)]