# Mobile and web visitors

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
        
With the following two tables, return the fraction of users who only visited mobile, only visited web, and visited both.

In [1]:
%run Question_12_MobileAndWebVisitors.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

## The solution is given below

In [2]:
%%sql

-- outer join mobile and web users on user ID

WITH t1 AS (
    SELECT DISTINCT m.user_id AS mobile_user, 
                    w.user_id AS web_user 
    FROM mobile m
    FULL JOIN web w
    ON m.user_id = w.user_id
),

-- count mobile-only users as those present in mobile but null in web,
-- web-only users similarly, and users of both as those not null 
-- in both mobile and web columns, and total n-size with count(*)

t2 AS (
    SELECT sum(CASE WHEN mobile_user IS NOT NULL AND web_user IS NULL THEN 1 ELSE 0 END ) AS n_mobile,
           sum(CASE WHEN web_user IS NOT NULL AND mobile_user IS NULL THEN 1 ELSE 0 END ) AS n_web,
           sum(CASE WHEN web_user IS NOT NULL AND mobile_user IS NOT NULL THEN 1 ELSE 0 END ) AS n_both,
    count(*) AS n_total FROM t1 
)

SELECT CAST(1.0*n_mobile/n_total AS float) AS mobile_fraction, 
       CAST(1.0*n_web/n_total AS float) AS web_fraction, 
       CAST(1.0*n_both/n_total AS float) AS both_fraction
FROM t2;

 * postgresql://fknight:***@localhost/postgres
1 rows affected.

[(0.3, 0.4, 0.3)]