# Upgrade rate by product action

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

Given the following two tables, return the fraction of users, rounded to two decimal places, who accessed feature two (type: F2 in events table) and upgraded to premium within the first 30 days of signing up.

In [1]:
%run Question_13_UpgradeRate.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

## The solution is given below

In [2]:
%%sql

-- get feature 2 users and their date of feature 2 access

WITH t1 AS (
    SELECT user_id, event_type, access_date AS f2_date 
    FROM events
    WHERE event_type = 'F2'
),

-- get premium users and their date of premium upgrade

t2 AS (
    SELECT user_id, event_type, access_date AS premium_date FROM events
    WHERE event_type = 'P'
),

-- for each feature 2 user, get time between joining and premium 
-- upgrade (or null if no upgrade) by inner joining full users table
-- with feature 2 users on user ID and left joining premium users on
-- user ID, then subtracting premium upgrade date from join date

t3 AS (
    SELECT t2.premium_date - u.join_date AS upgrade_time FROM users u
    JOIN t1
    ON u.user_id = t1.user_id
    LEFT JOIN t2
    ON u.user_id = t2.user_id 
)

SELECT round(1.0*sum(CASE WHEN upgrade_time < 30 THEN 1 ELSE 0 END)/count(*), 2) AS upgrade_rate
FROM t3;

 * postgresql://fknight:***@localhost/postgres
1 rows affected.

[(Decimal('0.33'),)]