# Commonly purchased together

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://www.careercup.com/question?id=5759072822362112
        
Using the following two tables, write a query to return the names and purchase frequency of the top three pairs of products most often bought together. The names of both products should appear in one column.

In [ ]:
%run Question_26_PurchasedTogether.ipynb