# Team standings

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

Write a query to return the scores of each team in the teams table after all matches displayed in the matches table. Points are awarded as follows: zero points for a loss, one point for a tie, and three points for a win. The result should include team name and points, and be ordered by decreasing points. In case of a tie, order by alphabetized team name.

In [1]:
%run Question_20_TeamStandings.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
6 rows affected.
6 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
6 rows affected.
6 rows affected.

## The solution is given below

In [3]:
%%sql

-- add host points and guest points columns to matches table, 
-- using case-when-then to tally up points for wins, ties, and losses

WITH t1 AS (
SELECT 
    *, 
    CASE 
        WHEN host_goals > guest_goals THEN 3 
        WHEN host_goals = guest_goals THEN 1
        ELSE 0 END AS host_points,
    
    CASE 
        WHEN host_goals < guest_goals THEN 3
        WHEN host_goals = guest_goals THEN 1
        ELSE 0 END AS guest_points
    
FROM matches 
)

-- join result onto teams table twice to add up for each team the 
-- points earned as host team and guest team, then order as requested

SELECT t.city, a.host_points + b.guest_points AS total_points FROM teams t
JOIN t1 a
ON t.id = a.host_team
JOIN t1 b
ON t.id = b.guest_team
ORDER BY total_points DESC, city ASC

 * postgresql://fknight:***@localhost/postgres
6 rows affected.

[('Chicago', 6),
 ('New York', 6),
 ('Los Angeles', 4),
 ('Toronto', 1),
 ('Atlanta', 0),
 ('Seattle', 0)]