# Maximally-separated cities

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://www.hackerrank.com/challenges/weather-observation-station-19/problem

Write a query to return the furthest-separated pair of cities for each state, and the corresponding distance (in degrees, rounded to 2 decimal places) between those two cities.

In [1]:
%run Question_23_MaximallySeparatedCities.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

## The solution is given below

In [2]:
%%sql

-- self-join on matching states and city < city 
-- (avoids identical and double-counted city pairs), 
-- pulling state, city pair, and latitude/longitude 
-- coordinates for each city

WITH t1 AS (
    SELECT s1.state, s1.city AS city1, s2.city AS city2, s1.latitude AS city1_lat, s1.longitude AS city1_long, s2.latitude AS city2_lat, s2.longitude AS city2_long
    FROM stations s1
    JOIN stations s2
    ON s1.state = s2.state
    AND s1.city < s2.city 
),

-- add a column displaying rounded Euclidean distance

t2 AS ( 
    SELECT *,
            round( ((city1_lat - city2_lat)^2 + (city1_long - city2_long)^2) ^ 0.5, 2) AS dist
    FROM t1
),

-- rank each city pair by descending distance for each state

t3 AS (
    SELECT *, 
            rank() OVER (PARTITION BY state ORDER BY dist DESC) AS dist_rank
    FROM t2
)

-- return the city pair with maximium separation

SELECT state, city1, city2, dist FROM t3
WHERE dist_rank = 1

 * postgresql://fknight:***@localhost/postgres
2 rows affected.

[('North Carolina', 'Asheville', 'Elizabeth City', Decimal('6.34')),
 ('North Dakota', 'Grand Forks', 'Hettinger', Decimal('5.91'))]