# Hacker scores

* Source: https://www.hackerrank.com/contests/simply-sql-the-sequel/challenges/full-score
* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

Given the following two tables, write a query to return the hacker ID, name, and total score (the sum of maximum scores for each challenge completed) ordered by descending score, and by ascending hacker ID in the case of score tie. Do not display entries for hackers with a score of zero.

In [1]:
%run Question_17_HackerScores.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
4 rows affected.
4 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

## The solution is given below

In [2]:
%%sql

-- from submissions table, get maximum score for each hacker- challenge pair

WITH t1 AS (
    SELECT hacker_id, challenge_id, max(score) AS max_score FROM submissions
    GROUP BY hacker_id, challenge_id 
)

-- inner join this with the hackers table, sum up all maximum scores,
-- filter to exclude hackers with total score of zero, and order
-- result by total score and hacker ID

SELECT t1.hacker_id, h.name, sum(t1.max_score) AS total_score FROM t1
JOIN hackers h
ON t1.hacker_id = h.hacker_id
GROUP BY 1, 2
HAVING sum(max_score) > 0 ORDER BY 3 DESC, 1 ASC;

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(2, 'Jane', 24), (3, 'Joe', 24), (1, 'John', 12)]