# Time difference between latest actions

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table of user actions, write a query to return for each user the time elapsed between the last action and the second-to-last action, in ascending order by user ID.

In [1]:
%run Question_09_ElapsedTime.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

## The solution is given below

In [4]:
%%sql

WITH t1 AS (
    SELECT *, row_number() OVER (PARTITION by user_id ORDER BY date DESC) AS date_rank
    FROM users 
),

latest AS (
SELECT *
FROM t1
WHERE date_rank = 1 ),

next_latest AS ( 
    SELECT *
    FROM t1
    WHERE date_rank = 2 )

-- left join these two tables 
-- (everyone will have a latest action, 
-- not everyone will have a second latest action), 
-- subtracting latest from second latest to get time elapsed

SELECT l1.user_id,
l1.date - l2.date AS days_elapsed
FROM latest l1
LEFT JOIN next_latest l2 ON l1.user_id = l2.user_id ORDER BY 1;

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[(1, 6), (2, 3), (3, 0), (4, None)]