# Cycle time

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
        
Write a query to return the average cycle time across each month. Cycle time is the time elapsed between one user joining and their invitees joining. Users who joined without an invitation have a zero in the “invited by” column.

In [1]:
%run Question_24_CycleTime.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

## The solution is given below

In [6]:
%%sql

-- self-join on invited by = user ID, extract join month from
-- inviter join date, and calculate cycle time as difference between
-- join dates of inviter and invitee

WITH t1 AS (
    SELECT cast(extract(MONTH FROM u2.join_date) AS int) AS month,
    u1.join_date - u2.join_date AS cycle_time FROM users u1
    JOIN users u2
    ON u1.invited_by = u2.id ORDER BY 1 
)

SELECT month, 
    CAST(avg(cycle_time) AS float) AS avg_cycle_time FROM t1
GROUP BY 1
ORDER BY 1

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(1, 27.0), (2, 12.5), (3, 3.0)]