# Changes in Net Worth

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table of transactions between two users, write a query to return the change in net worth for each user, ordered by decreasing net change.

In [1]:
%run Question_07_NetWorth.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

## The solution is given below

In [4]:
%%sql

WITH debits AS (
    SELECT sender, sum(amount) AS debited FROM transactions
    GROUP BY sender 
),

credits AS (
    SELECT receiver, sum(amount) AS credited FROM transactions
    GROUP BY receiver 
)

-- full (outer) join debits and credits tables on user id, 
-- taking net change as difference between credits and debits, 
-- coercing nulls to zeros with coalesce()

SELECT coalesce(sender, receiver) AS user, coalesce(credited, 0::money) - coalesce(debited, 0::money) AS net_change FROM debits d
FULL JOIN credits c
ON d.sender = c.receiver
ORDER BY 2 DESC

 * postgresql://fknight:***@localhost/postgres
5 rows affected.

[(1, '$20.00'), (3, '$5.00'), (4, '$5.00'), (5, '-$10.00'), (2, '-$20.00')]