# Super users

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

A company defines its super users as those who have made at least two
transactions. From the following table, write a query to return, for each user, the date when they become a super user, ordered by oldest super users first. Users who are not super users should also be present in the table.

In [1]:
%run Question_10_SuperUsers.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

## The solution is given below

In [2]:
%%sql

-- create a transaction partitioning by user ID

WITH t1 AS (
    SELECT *, row_number() OVER (
        PARTITION by user_id ORDER BY
        transaction_date ASC
    ) AS transaction_number FROM users
),

-- filter resulting table on transaction_number = 2

t2 AS (
SELECT user_id, transaction_date FROM t1
WHERE transaction_number = 2 ),

-- left join super users onto full user table, order by date

t3 AS (
    SELECT DISTINCT user_id FROM users 
)

SELECT t3.user_id, transaction_date AS superuser_date FROM t3
LEFT JOIN t2
ON t3.user_id = t2.user_id
ORDER BY 2

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[(1, datetime.date(2020, 2, 14)),
 (3, datetime.date(2020, 2, 15)),
 (2, datetime.date(2020, 2, 17)),
 (4, None)]