# Gold Rate Puzzle

Source: https://msbiskills.com/2015/03/22/t-sql-query-gold-rate-puzzle/

In the puzzle we have gold rate changing all the time. We have to find the start date, end Date and the gold rate at that duration. If the gold rate is changed then only we have create a new row. Please check the sample input and the expected output.

In [1]:
%run Question_05_GoldRate.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

## The solution is given below

In [7]:
%%sql

WITH CTE1 AS
( 
       SELECT dt, Rate, ROW_NUMBER() OVER (ORDER BY dt) Rnk FROM rates 
)
,CTE2 AS
(
       SELECT *, CASE WHEN Rate = lag(Rate) over(order by rnk) THEN 0 ELSE 1 END cols FROM CTE1 c2
)
,CTE3 AS
(
       SELECT *, SUM(cols) over(order by rnk) Grouper FROM CTE2 c2
)
SELECT MIN(dt) StartDate , MAX(dt) EndDate , MAX(Rate) Rate FROM CTE3 GROUP BY Grouper ORDER BY StartDate

 * postgresql://fknight:***@localhost/postgres
6 rows affected.

[(datetime.date(2014, 9, 18), datetime.date(2014, 9, 19), 27000),
 (datetime.date(2014, 9, 20), datetime.date(2014, 9, 22), 31000),
 (datetime.date(2014, 9, 23), datetime.date(2014, 9, 23), 32000),
 (datetime.date(2014, 9, 24), datetime.date(2014, 9, 24), 31000),
 (datetime.date(2014, 9, 25), datetime.date(2014, 9, 25), 32000),
 (datetime.date(2014, 9, 26), datetime.date(2014, 9, 26), 27000)]