# Customers who didn’t buy a product

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table, write a query to display the ID and name of customers who bought products A and B, but didn’t buy product C, ordered by ascending customer ID.

In [1]:
%run Question_21_CustomersWhoDidntBuy.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
4 rows affected.
4 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

## The solution is given below

In [3]:
%%sql

-- join customers and orders tables on customer ID, 
-- filtering to those who bought both products A and B, 
-- removing those who bought product C, returning ID and name columns
-- ordered by ascending ID

SELECT DISTINCT id, name
FROM orders o
JOIN customers c
ON o.customer_id = c.id
WHERE customer_id IN (SELECT customer_id
                      FROM orders
                      WHERE product_name = 'A') 
AND customer_id IN (SELECT customer_id
                    FROM orders
                    WHERE product_name = 'B') 
AND customer_id NOT IN (SELECT customer_id
                        FROM orders
                        WHERE product_name = 'C')
ORDER BY 1 ASC;

 * postgresql://fknight:***@localhost/postgres
2 rows affected.

[(1, 'Daniel'), (3, 'Elizabeth')]