# Taxi cancellation rate

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://leetcode.com/problems/trips-and-users/description/

From the given trips and users tables for a taxi service, write a query to return the cancellation rate in the first two days in October, rounded to two decimal places, for trips not involving banned riders or drivers.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
10 rows affected.
10 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

# Part B

Using the subquery from Part A, encode cancelled rides with a `1` and completed rides with a `0`.

```sql
WITH eligible_trips AS (
    SELECT * 
    FROM trips
    WHERE rider_id NOT IN (SELECT user_id
                       FROM users
                       WHERE banned = 'yes')
    AND driver_id NOT IN (SELECT user_id
                          FROM users
                          WHERE banned = 'yes')    
)
```

## The expected output
|trip_id|rider_id|driver_id|status|request_date|is_cancelled|
|--- |--- |--- |--- |--- |--- |
|1|1|10|completed|2020-10-01|0|
|3|3|12|completed|2020-10-01|0|
|4|4|10|cancelled_by_rider|2020-10-01|1|
|5|1|11|completed|2020-10-02|0|
|7|3|11|completed|2020-10-02|0|
|9|3|10|completed|2020-10-03|0|
|10|4|13|cancelled_by_driver|2020-10-03|1|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here