# Three in a row

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://leetcode.com/problems/human-traffic-of-stadium/solution/
        
The attendance table logs the number of people counted in a crowd each day an event is held. Write a query to return a table showing the date and visitor count of high-attendance periods, defined as three consecutive entries (not necessarily consecutive dates) with more than 100 visitors.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

# Part D

Using the subqueries from Parts A, B, & C, solve the original problem.

```sql
WITH row_numbers as (
    SELECT 
        *, 
        row_number() 
            OVER (ORDER BY event_date) 
            AS day_num
    FROM attendance
),

high_attendance AS (
    SELECT *
    FROM row_numbers
    WHERE visitors > 100
),

three_in_a_row AS (
    SELECT 
        a.day_num AS day1, 
        b.day_num AS day2, 
        c.day_num AS day3 
    FROM high_attendance a
    JOIN high_attendance b
    ON a.day_num = b.day_num - 1
    JOIN high_attendance c
    ON a.day_num = c.day_num - 2 
)

```

## The expected output

|event_date|visitors|
|--- |--- |
|2020-01-07|145|
|2020-01-08|1455|
|2020-01-11|199|
|2020-01-12|188|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here