# Three in a row

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://leetcode.com/problems/human-traffic-of-stadium/solution/
        
The attendance table logs the number of people counted in a crowd each day an event is held. Write a query to return a table showing the date and visitor count of high-attendance periods, defined as three consecutive entries (not necessarily consecutive dates) with more than 100 visitors.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

## The `attendance` table

In [4]:
%%sql

DROP TABLE IF EXISTS attendance;
CREATE TABLE attendance (
    event_date DATE,
    visitors INT
);

INSERT INTO attendance
VALUES
    ('01-01-20', 10), 
    ('01-04-20', 109),
    ('01-05-20', 150), 
    ('01-06-20', 99),
    ('01-07-20', 145), 
    ('01-08-20', 1455), 
    ('01-11-20', 199), 
    ('01-12-20', 188);
    
SELECT * FROM attendance;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

[(datetime.date(2020, 1, 1), 10),
 (datetime.date(2020, 1, 4), 109),
 (datetime.date(2020, 1, 5), 150),
 (datetime.date(2020, 1, 6), 99),
 (datetime.date(2020, 1, 7), 145),
 (datetime.date(2020, 1, 8), 1455),
 (datetime.date(2020, 1, 11), 199),
 (datetime.date(2020, 1, 12), 188)]

## The expected output

| event_date | visitors |
|----------- |--------- |
| 2020-01-07 | 145      |
| 2020-01-08 | 1455     |
| 2020-01-11 | 199      |
| 2020-01-12 | 188      |

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here