# Team standings

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

Write a query to return the scores of each team in the teams table after all matches displayed in the matches table. Points are awarded as follows: zero points for a loss, one point for a tie, and three points for a win. The result should include team name and points, and be ordered by decreasing points. In case of a tie, order by alphabetized team name.

In [2]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
6 rows affected.
6 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
6 rows affected.
6 rows affected.

In [3]:
%%sql

SELECT * FROM matches

 * postgresql://fknight:***@localhost/postgres
6 rows affected.

[(1, 1, 2, 3, 0),
 (2, 2, 3, 2, 4),
 (3, 3, 4, 4, 3),
 (4, 4, 5, 1, 1),
 (5, 5, 6, 2, 1),
 (6, 6, 1, 1, 2)]

# Part A

Write a query to convert the matches into points, based on the rules in the problem description.

## The expected output

|match_id|host_team|guest_team|host_goals|guest_goals|host_points|guest_points|
|--- |--- |--- |--- |--- |--- |--- |
|1|1|2|3|0|3|0|
|2|2|3|2|4|0|3|
|3|3|4|4|3|3|0|
|4|4|5|1|1|1|1|
|5|5|6|2|1|3|0|
|6|6|1|1|2|0|3|

# Type your SQL below

In [9]:
# %%sql
#
# Type your query here