# Average step time

Source: Sachin's email

Given below is a table showing when a session started on a step. For each step, determine the average step time, without using `LEAD` or `LAG`.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
16 rows affected.
16 rows affected.

# Part A

Without using `LEAD` or `LAG`, determine the number of seconds each step has taken, for each session.

## Example answer

In [22]:
%%sql

SELECT
    a.session_id,
    a.step_no,
    (b.end_secs - a.end_secs) AS total_step_time
FROM steps a
JOIN steps b
ON a.step_no + 1 = b.step_no
AND a.session_id = b.session_id
ORDER BY 1, 2

 * postgresql://fknight:***@localhost/postgres
12 rows affected.

[(1, 1, 15),
 (1, 2, 20),
 (1, 3, 15),
 (2, 1, 5),
 (2, 2, 20),
 (2, 3, 20),
 (3, 1, 12),
 (3, 2, 20),
 (3, 3, 8),
 (4, 1, 7),
 (4, 2, 12),
 (4, 3, 12)]

# Part B

Using the subquery from Part A, solve the original problem.

```sql
WITH step_times AS (
    SELECT
        a.session_id,
        a.step_no,
        a.end_secs,
        b.end_secs,
        (b.end_secs - a.end_secs) AS total_step_time
    FROM steps a
    JOIN steps b
    ON a.step_no + 1 = b.step_no
    AND a.session_id = b.session_id
    ORDER BY 1, 2
)
```

## Example answer

In [21]:
%%sql

WITH step_times AS (
    SELECT
        a.session_id,
        a.step_no,
        a.end_secs,
        b.end_secs,
        (b.end_secs - a.end_secs) AS total_step_time
    FROM steps a
    JOIN steps b
    ON a.step_no + 1 = b.step_no
    AND a.session_id = b.session_id
    ORDER BY 1, 2
)

SELECT 
    step_no,
    CAST(AVG(total_step_time) AS float)
FROM step_times
GROUP BY step_no
ORDER BY step_no

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(1, 9.75), (2, 18.0), (3, 13.75)]

# The full solution is given below

In [18]:
%%sql

WITH step_times AS (
    SELECT
        a.session_id,
        a.step_no,
        a.end_secs,
        b.end_secs,
        (b.end_secs - a.end_secs) AS total_step_time
    FROM steps a
    JOIN steps b
    ON a.step_no + 1 = b.step_no
    AND a.session_id = b.session_id
    ORDER BY 1, 2
)

SELECT 
    step_no,
    CAST(AVG(total_step_time) AS float)
FROM step_times
GROUP BY step_no
ORDER BY step_no

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(1, 9.75), (2, 18.0), (3, 13.75)]