# Changes in Net Worth

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table of transactions between two users, write a query to return the change in net worth for each user, ordered by decreasing net change.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

# Part C

Using the two subqueries below, write a query to solve the original problem.

```sql
WITH debits AS (
    SELECT sender, sum(amount) AS debited FROM transactions
    GROUP BY sender 
),

credits AS (
    SELECT receiver, sum(amount) AS credited FROM transactions
    GROUP BY receiver 
)
```

## The expected output

|user|net_change|
|--- |--- |
|1|\$20.00|
|3|\$5.00|
|4|\$5.00|
|5|-\$10.00|
|2|-\$20.00|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here