# Three in a row

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://leetcode.com/problems/human-traffic-of-stadium/solution/
        
The attendance table logs the number of people counted in a crowd each day an event is held. Write a query to return a table showing the date and visitor count of high-attendance periods, defined as three consecutive entries (not necessarily consecutive dates) with more than 100 visitors.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

# Part A

To determine consecutive days (and ignore gaps in the days), write a query that orders the entries numerically.

## The expected output

|event_date|visitors|day_num|
|--- |--- |--- |
|2020-01-01|10|1|
|2020-01-04|109|2|
|2020-01-05|150|3|
|2020-01-06|99|4|
|2020-01-07|145|5|
|2020-01-08|1455|6|
|2020-01-11|199|7|
|2020-01-12|188|8|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here