# Three in a row

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://leetcode.com/problems/human-traffic-of-stadium/solution/
        
The attendance table logs the number of people counted in a crowd each day an event is held. Write a query to return a table showing the date and visitor count of high-attendance periods, defined as three consecutive entries (not necessarily consecutive dates) with more than 100 visitors.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

# Part C

Using the subqueries from Parts A & B, write a query that groups high attendance days into sets of three.

```sql
WITH row_numbers as (
    SELECT 
        *, 
        row_number() 
            OVER (ORDER BY event_date) 
            AS day_num
    FROM attendance
),

high_attendance AS (
    SELECT *
    FROM row_numbers
    WHERE visitors > 100
)
```

## The expected output

|day1|day2|day3|
|--- |--- |--- |
|5|6|7|
|6|7|8|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here