# Cancellation Rates

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
        
From the following table of user IDs, actions, and dates, write a query to return the publication and cancellation rate for each user.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

In [2]:
%%sql

SELECT * FROM users;

 * postgresql://fknight:***@localhost/postgres
8 rows affected.

[(1, 'start', datetime.date(2020, 1, 1)),
 (1, 'cancel', datetime.date(2020, 1, 2)),
 (2, 'start', datetime.date(2020, 1, 3)),
 (2, 'publish', datetime.date(2020, 1, 4)),
 (3, 'start', datetime.date(2020, 1, 5)),
 (3, 'cancel', datetime.date(2020, 1, 6)),
 (1, 'start', datetime.date(2020, 1, 7)),
 (1, 'publish', datetime.date(2020, 1, 8))]

# Part B

For Part B, solve the original problem using the subquery below.

```sql
WITH action_types AS (
    SELECT user_id,
    sum(CASE WHEN action = 'start' THEN 1 ELSE 0 END) 
        AS starts, 
    sum(CASE WHEN action = 'cancel' THEN 1 ELSE 0 END) 
        AS cancels, 
    sum(CASE WHEN action = 'publish' THEN 1 ELSE 0 END) 
        AS publishes
    FROM users
    GROUP BY 1
    ORDER BY user_id
)
```

## The expected output

|user_id|publish_rate|cancel_rate|
|--- |--- |--- |
|1|0.5|0.5|
|2|1.0|0.0|
|3|0.0|1.0|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here