# Most frequent items

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table containing a list of dates and items ordered, write a query to return the most frequent item ordered on each date. Return multiple items in the case of a tie.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

# Part B

Using the subquery below, generate date groupings for each date given.

```sql
WITH item_counts AS (
    SELECT
        date,
        item,
        count(*) AS item_count
    FROM items
    GROUP BY date, item
    ORDER BY date
)
```

## The expected output

|date|item|item_count|date_rank|
|--- |--- |--- |--- |
|2020-01-01|apple|2|1|
|2020-01-01|pear|2|1|
|2020-01-02|pear|3|1|
|2020-01-02|orange|1|2|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here