# Most frequent items

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table containing a list of dates and items ordered, write a query to return the most frequent item ordered on each date. Return multiple items in the case of a tie.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

# Part C

Using the two subqueries below, solve the original problem.

```sql
WITH item_counts AS (
    SELECT
        date,
        item,
        count(*) AS item_count
    FROM items
    GROUP BY date, item
    ORDER BY date
),

date_ranks AS (
    SELECT *, rank() OVER (PARTITION by date ORDER BY item_count DESC) AS date_rank
    FROM item_counts
)
```

## The expected output

|date|item|
|--- |--- |
|2020-01-01|apple|
|2020-01-01|pear|
|2020-01-02|pear|

# Type your SQL below

In [2]:
# %%sql
#
# Type your query here