# Maximally-separated cities

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://www.hackerrank.com/challenges/weather-observation-station-19/problem

Write a query to return the furthest-separated pair of cities for each state, and the corresponding distance (in degrees, rounded to 2 decimal places) between those two cities.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

# Part B

Using the subquery from Part A, compute the distance between each pair of cities.

```sql
WITH city_pairs (
    SELECT
        s1.state, 
        s1.city AS city1, 
        s2.city AS city2,
        s1.latitude AS city1_lat, 
        s1.longitude AS city1_long, 
        s2.latitude AS city2_lat, 
        s2.longitude AS city2_long
    FROM stations s1
    JOIN stations s2
        ON s1.state = s2.state
        AND s1.city < s2.city
)
```

## The expected output

|state|city1|city2|city1_lat|city1_long|city2_lat|city2_long|dist|
|--- |--- |--- |--- |--- |--- |--- |--- |
|North Carolina|Asheville|Elizabeth City|35.6|82.6|36.3|76.3|6.34|
|North Carolina|Asheville|Davidson|35.6|82.6|35.5|80.8|1.80|
|North Carolina|Asheville|Chapel Hill|35.6|82.6|35.9|79.1|3.51|
|North Carolina|Asheville|Burlington|35.6|82.6|36.1|79.4|3.24|
|North Carolina|Burlington|Elizabeth City|36.1|79.4|36.3|76.3|3.11|
|North Carolina|Burlington|Davidson|36.1|79.4|35.5|80.8|1.52|
|North Carolina|Burlington|Chapel Hill|36.1|79.4|35.9|79.1|0.36|
|North Carolina|Chapel Hill|Elizabeth City|35.9|79.1|36.3|76.3|2.83|
|North Carolina|Chapel Hill|Davidson|35.9|79.1|35.5|80.8|1.75|
|North Carolina|Davidson|Elizabeth City|35.5|80.8|36.3|76.3|4.57|
|North Dakota|Fargo|Inkster|46.9|96.8|48.2|97.6|1.53|
|North Dakota|Fargo|Hettinger|46.9|96.8|46.0|102.6|5.87|
|North Dakota|Fargo|Grand Forks|46.9|96.8|47.9|97.0|1.02|
|North Dakota|Grand Forks|Inkster|47.9|97.0|48.2|97.6|0.67|
|North Dakota|Grand Forks|Hettinger|47.9|97.0|46.0|102.6|5.91|
|North Dakota|Hettinger|Inkster|46.0|102.6|48.2|97.6|5.46|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here