# Average treatment effect

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table summarizing the results of a study, calculate the average treatment effect as well as upper and lower bounds of the 95% confidence interval. Round these numbers to 3 decimal places.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

# Part C

Using the subqueries from Part A & B, write a query that shows the difference in average outcome between the treatment group and control group.

```sql
WITH control_group AS (
    SELECT 
        1.0*sum(outcome)/count(*) AS avg_outcome,
        stddev(outcome) AS std_dev,
        count(*) AS group_size 
    FROM study
    WHERE assignment = 0    
),

treatment_group AS (
    SELECT
        1.0*sum(outcome)/count(*) AS avg_outcome,
        stddev(outcome) AS std_dev,
        count(*) AS group_size 
    FROM study
    WHERE assignment = 1
)
```

## The expected output

|effect_size|
|--- |
|0.30000000000000000000|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here