# Average treatment effect

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table summarizing the results of a study, calculate the average treatment effect as well as upper and lower bounds of the 95% confidence interval. Round these numbers to 3 decimal places.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

# Part E

Using the subqueries from Parts A, B, C, & D, solve the original problem.

```sql
WITH control_group AS (
    SELECT 
        1.0*sum(outcome)/count(*) AS avg_outcome,
        stddev(outcome) AS std_dev,
        count(*) AS group_size 
    FROM study
    WHERE assignment = 0    
),

treatment_group AS (
    SELECT
        1.0*sum(outcome)/count(*) AS avg_outcome,
        stddev(outcome) AS std_dev,
        count(*) AS group_size 
    FROM study
    WHERE assignment = 1
),

effect AS (
    SELECT t.avg_outcome - c.avg_outcome AS effect_size 
    FROM control_group c, treatment_group t
),

interval AS (
    SELECT 
    1.96 * (t.std_dev^2 / t.group_size
            + c.std_dev^2 / c.group_size)^0.5 AS conf_int 
    FROM control_group c, treatment_group t
)
```

## The expected output

|point_estimate|lower_bound|upper_bound|
|--- |--- |--- |
|0.300|-0.388|0.988|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here