# Content recommendation

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

Using the following two tables, write a query to return page
recommendations to a social media user based on the pages that their
friends have liked, but that they have not yet marked as liked. Order the result by ascending user ID.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

# Part A

Combine the `likes` and `friends` table in a subquery that will be used in later parts.

## The expected output

|user_id|page|friend_id|
|--- |--- |--- |
|1|A|2|
|1|A|3|
|1|A|4|
|1|B|2|
|1|B|3|
|1|B|4|
|1|C|2|
|1|C|3|
|1|C|4|
|2|A|1|
|3|B|1|
|3|B|4|
|3|C|1|
|3|C|4|
|4|B|1|
|4|B|3|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here