# Time difference between latest actions

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table of user actions, write a query to return for each user the time elapsed between the last action and the second-to-last action, in ascending order by user ID.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

In [2]:
%%sql

SELECT * FROM users

 * postgresql://fknight:***@localhost/postgres
8 rows affected.

[(1, 'start', datetime.date(2020, 2, 12)),
 (1, 'cancel', datetime.date(2020, 2, 13)),
 (2, 'start', datetime.date(2020, 2, 11)),
 (2, 'publish', datetime.date(2020, 2, 14)),
 (3, 'start', datetime.date(2020, 2, 15)),
 (3, 'cancel', datetime.date(2020, 2, 15)),
 (4, 'start', datetime.date(2020, 2, 18)),
 (1, 'publish', datetime.date(2020, 2, 19))]

# Part A

Write a query to rank the dates of each action, for each user.

## The expected output


|user_id|action|date|date_rank|
|--- |--- |--- |--- |
|1|publish|2020-02-19|1|
|1|cancel|2020-02-13|2|
|1|start|2020-02-12|3|
|2|publish|2020-02-14|1|
|2|start|2020-02-11|2|
|3|start|2020-02-15|1|
|3|cancel|2020-02-15|2|
|4|start|2020-02-18|1|

# Type your SQL below

In [5]:
# %%sql
#
# Type your query here