# Cycle time

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
        
Write a query to return the average cycle time across each month. Cycle time is the time elapsed between one user joining and their invitees joining. Users who joined without an invitation have a zero in the “invited by” column.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

In [2]:
%%sql

SELECT * FROM users

 * postgresql://fknight:***@localhost/postgres
8 rows affected.

[(1, datetime.date(2020, 1, 1), 0),
 (2, datetime.date(2020, 1, 10), 1),
 (3, datetime.date(2020, 2, 5), 2),
 (4, datetime.date(2020, 2, 12), 3),
 (5, datetime.date(2020, 2, 25), 2),
 (6, datetime.date(2020, 3, 1), 0),
 (7, datetime.date(2020, 3, 1), 4),
 (8, datetime.date(2020, 3, 4), 7)]

# Part D

Using the subqueries from Parts A, B, & C, solve the original problem.

```sql
WITH join_dates AS (
    SELECT
        u1.id AS invited_id,
        u1.join_date AS invited_join_date,
        u2.id AS inviter_id,
        u2.join_date AS inviter_join_date
    FROM users u1
    JOIN users u2
    ON u1.invited_by = u2.id
    ORDER BY 1
),

cycle_times AS (    
    SELECT
        *,
        invited_join_date - inviter_join_date AS cycle_time
    FROM join_dates
),

cycle_months AS (
    SELECT 
        *, 
        EXTRACT(month FROM inviter_join_date) AS month
    FROM cycle_times
)
```

## The expected output

|month|avg_cycle_time|
|--- |--- |
|1|27.0|
|2|12.5|
|3|3.0|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here