# Retention curve

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following user activity table, write a query to return the fraction of users who are retained (show some activity) a given number of days after joining. By convention, users are considered active on their join day (day 0).

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

# Part A

Identify the join date for each user.

## Example answer

In [2]:
%%sql

SELECT 
    user_id, 
    action_date AS join_date 
FROM users
WHERE action = 'Join'

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(1, datetime.date(2020, 1, 1)),
 (2, datetime.date(2020, 1, 2)),
 (3, datetime.date(2020, 1, 2))]

# Part B

Generate a range of all possible dates for the `users` table.

## Example answer

In [24]:
%%sql

SELECT 
    cast(generate_series(min(action_date), 
                         max(action_date),
                         '1 day'::interval) AS date) 
    AS date
FROM users

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[(datetime.date(2020, 1, 1),),
 (datetime.date(2020, 1, 2),),
 (datetime.date(2020, 1, 3),),
 (datetime.date(2020, 1, 4),)]

# Part C

In order to determine level of activity, we must check each user action with each date.

Using the subqueries from Parts A & B, determine all possible user-date combinations.

```sql
WITH join_dates AS (
    SELECT user_id, action_date AS join_date FROM users
    WHERE action = 'Join' 
),

date_vector AS (
    SELECT 
        cast(generate_series(min(action_date), 
                             max(action_date),
                             '1 day'::interval) AS date) 
        AS date
    FROM users
)
```

## Example answer

In [42]:
%%sql

WITH join_dates AS (
    SELECT user_id, action_date AS join_date FROM users
    WHERE action = 'Join' 
),

date_vector AS (
    SELECT 
        cast(generate_series(min(action_date), 
                             max(action_date),
                             '1 day'::interval) AS date) 
        AS date
    FROM users
)

SELECT 
    DISTINCT user_id, d.date 
FROM users
CROSS JOIN date_vector d 
ORDER BY user_id, date

 * postgresql://fknight:***@localhost/postgres
12 rows affected.

[(1, datetime.date(2020, 1, 1)),
 (1, datetime.date(2020, 1, 2)),
 (1, datetime.date(2020, 1, 3)),
 (1, datetime.date(2020, 1, 4)),
 (2, datetime.date(2020, 1, 1)),
 (2, datetime.date(2020, 1, 2)),
 (2, datetime.date(2020, 1, 3)),
 (2, datetime.date(2020, 1, 4)),
 (3, datetime.date(2020, 1, 1)),
 (3, datetime.date(2020, 1, 2)),
 (3, datetime.date(2020, 1, 3)),
 (3, datetime.date(2020, 1, 4))]

# Part D

Using the three subqueries from Parts A, B, & C, for each user action, determine the date, user_id, and number of days on that date. If the user had no action on that date, then use `NULL` as the user_id.

```sql
WITH join_dates AS (
    SELECT user_id, action_date AS join_date 
    FROM users
    WHERE action = 'Join'
),

date_vector AS (
    SELECT 
        cast(generate_series(min(action_date), 
                             max(action_date), 
                             '1 day'::interval) AS date) 
        AS date 
    FROM users 
),

all_users_dates AS (
    SELECT DISTINCT user_id, d.date FROM users
    CROSS JOIN date_vector d 
)
```

## Example answer

In [39]:
%%sql

WITH join_dates AS (
    SELECT user_id, action_date AS join_date 
    FROM users
    WHERE action = 'Join'
),

date_vector AS (
    SELECT 
        cast(generate_series(min(action_date), 
                             max(action_date), 
                             '1 day'::interval) AS date) 
        AS date 
    FROM users 
),

all_users_dates AS (
    SELECT DISTINCT user_id, d.date FROM users
    CROSS JOIN date_vector d 
)

SELECT 
    a.date,
    b.user_id,
    a.date - c.join_date AS day_number
FROM all_users_dates a
    LEFT JOIN users b
    ON a.user_id = b.user_id
    AND a.date = b.action_date
    JOIN join_dates c
    ON a.user_id = c.user_id
WHERE a.date - c.join_date >= 0
ORDER BY a.date, user_id

 * postgresql://fknight:***@localhost/postgres
10 rows affected.

[(datetime.date(2020, 1, 1), 1, 0),
 (datetime.date(2020, 1, 2), 1, 1),
 (datetime.date(2020, 1, 2), 2, 0),
 (datetime.date(2020, 1, 2), 3, 0),
 (datetime.date(2020, 1, 3), 1, 2),
 (datetime.date(2020, 1, 3), 3, 1),
 (datetime.date(2020, 1, 3), None, 1),
 (datetime.date(2020, 1, 4), 1, 3),
 (datetime.date(2020, 1, 4), None, 2),
 (datetime.date(2020, 1, 4), None, 2)]

# Part E

Using the subqueries from Parts A, B, C, & D, solve the original problem.

```sql
WITH join_dates AS (
    SELECT user_id, action_date AS join_date 
    FROM users
    WHERE action = 'Join'
),

date_vector AS (
    SELECT 
        cast(generate_series(min(action_date), 
                             max(action_date), 
                             '1 day'::interval) AS date) 
        AS date 
    FROM users 
),

all_users_dates AS (
    SELECT DISTINCT user_id, d.date 
    FROM users
    CROSS JOIN date_vector d 
),

days_active AS (
    SELECT 
        a.date - c.join_date AS day_no, 
        b.user_id 
    FROM all_users_dates a
        LEFT JOIN users b
        ON a.user_id = b.user_id
        AND a.date = b.action_date
        JOIN join_dates c
        ON a.user_id = c.user_id
    WHERE a.date - c.join_date >= 0 
)
```

## Example answer

In [43]:
%%sql

WITH join_dates AS (
    SELECT user_id, action_date AS join_date 
    FROM users
    WHERE action = 'Join'
),

-- create vector containing all dates in date range

date_vector AS (
    SELECT 
        cast(generate_series(min(action_date), 
                             max(action_date), 
                             '1 day'::interval) AS date) 
        AS date 
    FROM users 
),

-- cross join to get all possible user-date combinations

all_users_dates AS (
    SELECT DISTINCT user_id, d.date 
    FROM users
    CROSS JOIN date_vector d 
),

-- left join users table onto all user-date combinations on matching 
-- user ID and date (null on didnt engage), join onto this each 
-- users signup date, exclude user-date combinations falling

days_active AS (
    SELECT 
        a.date - c.join_date AS day_no, 
        b.user_id 
    FROM all_users_dates a
        LEFT JOIN users b
        ON a.user_id = b.user_id
        AND a.date = b.action_date
        JOIN join_dates c
        ON a.user_id = c.user_id
    WHERE a.date - c.join_date >= 0 
)

-- grouping by days since signup, count (non-null) user IDs as 
-- active users, total users, and retention rate

SELECT 
    day_no, 
    count(*) AS n_total,
    count(DISTINCT user_id) AS n_active, 
    round(1.0*count(DISTINCT user_id)/count(*), 2) AS retention
FROM days_active 
GROUP BY 1

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[(0, 3, 3, Decimal('1.00')),
 (1, 3, 2, Decimal('0.67')),
 (2, 3, 1, Decimal('0.33')),
 (3, 1, 1, Decimal('1.00'))]

## The full solution is given below

In [41]:
%%sql

-- get join dates for each user

WITH join_dates AS (
    SELECT user_id, action_date AS join_date 
    FROM users
    WHERE action = 'Join'
),

-- create vector containing all dates in date range

date_vector AS (
    SELECT 
        cast(generate_series(min(action_date), 
                             max(action_date), 
                             '1 day'::interval) AS date) 
        AS date 
    FROM users 
),

-- cross join to get all possible user-date combinations

all_users_dates AS (
    SELECT DISTINCT user_id, d.date 
    FROM users
    CROSS JOIN date_vector d 
),

-- left join users table onto all user-date combinations on matching 
-- user ID and date (null on didnt engage), join onto this each 
-- users signup date, exclude user-date combinations falling

days_active AS (
    SELECT 
        a.date - c.join_date AS day_no, 
        b.user_id 
    FROM all_users_dates a
        LEFT JOIN users b
        ON a.user_id = b.user_id
        AND a.date = b.action_date
        JOIN join_dates c
        ON a.user_id = c.user_id
    WHERE a.date - c.join_date >= 0 
)

-- grouping by days since signup, count (non-null) user IDs as 
-- active users, total users, and retention rate

SELECT 
    day_no, count(*) AS n_total,
    count(DISTINCT user_id) AS n_active, round(1.0*count(DISTINCT user_id)/count(*), 2) AS retention
FROM days_active 
GROUP BY 1

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[(0, 3, 3, Decimal('1.00')),
 (1, 3, 2, Decimal('0.67')),
 (2, 3, 1, Decimal('0.33')),
 (3, 1, 1, Decimal('1.00'))]