# Cycle time

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
        
Write a query to return the average cycle time across each month. Cycle time is the time elapsed between one user joining and their invitees joining. Users who joined without an invitation have a zero in the “invited by” column.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

## The `users` table

In [4]:
%%sql

DROP TABLE IF EXISTS users;
CREATE TABLE users (
    id INT,
    join_date DATE,
    invited_by INT
);

INSERT INTO users
VALUES
    (1, '01-01-20', 0),
    (2, '01-10-20', 1),
    (3, '02-05-20', 2), 
    (4, '02-12-20', 3), 
    (5, '02-25-20', 2), 
    (6, '03-01-20', 0), 
    (7, '03-01-20', 4), 
    (8, '03-04-20', 7);

SELECT * FROM users;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

[(1, datetime.date(2020, 1, 1), 0),
 (2, datetime.date(2020, 1, 10), 1),
 (3, datetime.date(2020, 2, 5), 2),
 (4, datetime.date(2020, 2, 12), 3),
 (5, datetime.date(2020, 2, 25), 2),
 (6, datetime.date(2020, 3, 1), 0),
 (7, datetime.date(2020, 3, 1), 4),
 (8, datetime.date(2020, 3, 4), 7)]

## The expected output

| month | avg_cycle_time |
|------ |--------------- |
| 1     | 27.0           |
| 2     | 12.5           |
| 3     | 3.0            |

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here