# Super users

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

A company defines its super users as those who have made at least two transactions. From the following table, write a query to return, for each user, the date when they become a super user, ordered by oldest super users first. Users who are not super users should also be present in the table.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

In [2]:
%%sql

SELECT * FROM users

 * postgresql://fknight:***@localhost/postgres
8 rows affected.

[(1, 101, datetime.date(2020, 2, 12)),
 (2, 105, datetime.date(2020, 2, 13)),
 (1, 111, datetime.date(2020, 2, 14)),
 (3, 121, datetime.date(2020, 2, 15)),
 (1, 101, datetime.date(2020, 2, 16)),
 (2, 105, datetime.date(2020, 2, 17)),
 (4, 101, datetime.date(2020, 2, 16)),
 (3, 105, datetime.date(2020, 2, 15))]

# Part A

Write a query that determines the 1st, 2nd, & 3rd, transactions for each user.

## The expected output

|user_id|product_id|transaction_date|transaction_count|
|--- |--- |--- |--- |
|1|101|2020-02-12|1|
|1|111|2020-02-14|2|
|1|101|2020-02-16|3|
|2|105|2020-02-13|1|
|2|105|2020-02-17|2|
|3|121|2020-02-15|1|
|3|105|2020-02-15|2|
|4|101|2020-02-16|1|

# Type your SQL below

In [3]:
# %%sql
#
# Type your query here