# Changes in Net Worth

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table of transactions between two users, write a query to return the change in net worth for each user, ordered by decreasing net change.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

In [2]:
%%sql

SELECT * FROM transactions;

 * postgresql://fknight:***@localhost/postgres
7 rows affected.

[(5, 2, '$10.00', datetime.date(2020, 2, 12)),
 (1, 3, '$15.00', datetime.date(2020, 2, 13)),
 (2, 1, '$20.00', datetime.date(2020, 2, 13)),
 (2, 3, '$25.00', datetime.date(2020, 2, 14)),
 (3, 1, '$20.00', datetime.date(2020, 2, 15)),
 (3, 2, '$15.00', datetime.date(2020, 2, 15)),
 (1, 4, '$5.00', datetime.date(2020, 2, 16))]

# Part B

Write a query to get the total number of credits for each user.

## The expected output

|receiver|credited|
|--- |--- |
|1|\$40.00|
|2|\$25.00|
|3|\$40.00|
|4|\$5.00|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here