# Changes in Net Worth

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

From the following table of transactions between two users, write a query to return the change in net worth for each user, ordered by decreasing net change.

In [2]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

# Part A

Write a query to get the total number of debits for each user

In [6]:
%%sql

SELECT sender, sum(amount) AS debited FROM transactions
GROUP BY sender
ORDER BY sender

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[(1, '$20.00'), (2, '$45.00'), (3, '$35.00'), (5, '$10.00')]

# Part B

Write a query to get the total number of credits for each user.

In [7]:
%%sql

SELECT receiver, sum(amount) AS credited FROM transactions
GROUP BY receiver
ORDER BY receiver

 * postgresql://fknight:***@localhost/postgres
4 rows affected.

[(1, '$40.00'), (2, '$25.00'), (3, '$40.00'), (4, '$5.00')]

# Part C

Using the two subqueries above, write a query to solve the original problem.

In [8]:
%%sql

WITH debits AS (
    SELECT sender, sum(amount) AS debited FROM transactions
    GROUP BY sender 
),

credits AS (
    SELECT receiver, sum(amount) AS credited FROM transactions
    GROUP BY receiver 
)

-- full (outer) join debits and credits tables on user id, 
-- taking net change as difference between credits and debits, 
-- coercing nulls to zeros with coalesce()

SELECT 
    coalesce(sender, receiver) AS user, 
    coalesce(credited, 0::money) - coalesce(debited, 0::money) AS net_change 
FROM debits d
FULL JOIN credits c
ON d.sender = c.receiver
ORDER BY net_change DESC

 * postgresql://fknight:***@localhost/postgres
5 rows affected.

[(1, '$20.00'), (3, '$5.00'), (4, '$5.00'), (5, '-$10.00'), (2, '-$20.00')]

## The full solution is given below

In [3]:
%%sql

WITH debits AS (
    SELECT sender, sum(amount) AS debited FROM transactions
    GROUP BY sender 
),

credits AS (
    SELECT receiver, sum(amount) AS credited FROM transactions
    GROUP BY receiver 
)

-- full (outer) join debits and credits tables on user id, 
-- taking net change as difference between credits and debits, 
-- coercing nulls to zeros with coalesce()

SELECT 
    coalesce(sender, receiver) AS user, 
    coalesce(credited, 0::money) - coalesce(debited, 0::money) AS net_change 
FROM debits d
FULL JOIN credits c
ON d.sender = c.receiver
ORDER BY net_change DESC

 * postgresql://fknight:***@localhost/postgres
5 rows affected.

[(1, '$20.00'), (3, '$5.00'), (4, '$5.00'), (5, '-$10.00'), (2, '-$20.00')]