# Taxi cancellation rate

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://leetcode.com/problems/trips-and-users/description/

From the given trips and users tables for a taxi service, write a query to return the cancellation rate in the first two days in October, rounded to two decimal places, for trips not involving banned riders or drivers.

In [3]:
%run Question.ipynb

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
10 rows affected.
10 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

# Part C

Using the subqueries from Parts A & B, solve the original problem.

```sql
WITH eligible_trips AS (
    SELECT * 
    FROM trips
    WHERE rider_id NOT IN (SELECT user_id
                       FROM users
                       WHERE banned = 'yes')
    AND driver_id NOT IN (SELECT user_id
                          FROM users
                          WHERE banned = 'yes')
),

cancelled_trips AS (
    SELECT 
        *,
        CASE WHEN status != 'completed' THEN 1 ELSE 0 END
        AS is_cancelled
    FROM eligible_trips
)
```

## The expected output

|request_date|cancel_rate|
|--- |--- |
|2020-10-01|0.33|
|2020-10-02|0.00|
|2020-10-03|0.50|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here