# Taxi cancellation rate

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://leetcode.com/problems/trips-and-users/description/

From the given trips and users tables for a taxi service, write a query to return the cancellation rate in the first two days in October, rounded to two decimal places, for trips not involving banned riders or drivers.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
10 rows affected.
10 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

# Part A

Write a query that filters out all banned drivers and banned riders.

## Example answer

In [2]:
%%sql

SELECT * 
FROM trips
WHERE rider_id NOT IN (SELECT user_id
                   FROM users
                   WHERE banned = 'yes')
AND driver_id NOT IN (SELECT user_id
                      FROM users
                      WHERE banned = 'yes')

 * postgresql://fknight:***@localhost/postgres
7 rows affected.

[(1, 1, 10, 'completed', datetime.date(2020, 10, 1)),
 (3, 3, 12, 'completed', datetime.date(2020, 10, 1)),
 (4, 4, 10, 'cancelled_by_rider', datetime.date(2020, 10, 1)),
 (5, 1, 11, 'completed', datetime.date(2020, 10, 2)),
 (7, 3, 11, 'completed', datetime.date(2020, 10, 2)),
 (9, 3, 10, 'completed', datetime.date(2020, 10, 3)),
 (10, 4, 13, 'cancelled_by_driver', datetime.date(2020, 10, 3))]

# Part B

Using the subquery from Part A, encode cancelled rides with a `1` and completed rides with a `0`.

```sql
WITH eligible_trips AS (
    SELECT * 
    FROM trips
    WHERE rider_id NOT IN (SELECT user_id
                       FROM users
                       WHERE banned = 'yes')
    AND driver_id NOT IN (SELECT user_id
                          FROM users
                          WHERE banned = 'yes')    
)
```

## Example answer

In [8]:
%%sql

WITH eligible_trips AS (
    SELECT * 
    FROM trips
    WHERE rider_id NOT IN (SELECT user_id
                       FROM users
                       WHERE banned = 'yes')
    AND driver_id NOT IN (SELECT user_id
                          FROM users
                          WHERE banned = 'yes')
)

SELECT 
    *,
    CASE WHEN status != 'completed' THEN 1 ELSE 0 END
    AS is_cancelled
FROM eligible_trips

 * postgresql://fknight:***@localhost/postgres
7 rows affected.

[(1, 1, 10, 'completed', datetime.date(2020, 10, 1), 0),
 (3, 3, 12, 'completed', datetime.date(2020, 10, 1), 0),
 (4, 4, 10, 'cancelled_by_rider', datetime.date(2020, 10, 1), 1),
 (5, 1, 11, 'completed', datetime.date(2020, 10, 2), 0),
 (7, 3, 11, 'completed', datetime.date(2020, 10, 2), 0),
 (9, 3, 10, 'completed', datetime.date(2020, 10, 3), 0),
 (10, 4, 13, 'cancelled_by_driver', datetime.date(2020, 10, 3), 1)]

# Part C

Using the subqueries from Parts A & B, solve the original problem.

```sql
WITH eligible_trips AS (
    SELECT * 
    FROM trips
    WHERE rider_id NOT IN (SELECT user_id
                       FROM users
                       WHERE banned = 'yes')
    AND driver_id NOT IN (SELECT user_id
                          FROM users
                          WHERE banned = 'yes')
),

cancelled_trips AS (
    SELECT 
        *,
        CASE WHEN status != 'completed' THEN 1 ELSE 0 END
        AS is_cancelled
    FROM eligible_trips
)
```

## Example answer

In [10]:
%%sql

WITH eligible_trips AS (
    SELECT * 
    FROM trips
    WHERE rider_id NOT IN (SELECT user_id
                       FROM users
                       WHERE banned = 'yes')
    AND driver_id NOT IN (SELECT user_id
                          FROM users
                          WHERE banned = 'yes')
),

cancelled_trips AS (
    SELECT 
        *,
        CASE WHEN status != 'completed' THEN 1 ELSE 0 END
        AS is_cancelled
    FROM eligible_trips
)

SELECT 
    request_date,
    round(1.0*sum(is_cancelled)/count(*), 2) AS cancel_rate
FROM cancelled_trips
GROUP BY request_date
ORDER BY request_date ASC;

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(datetime.date(2020, 10, 1), Decimal('0.33')),
 (datetime.date(2020, 10, 2), Decimal('0.00')),
 (datetime.date(2020, 10, 3), Decimal('0.50'))]

## The full solution is given below

In [2]:
%%sql

-- calculate cancellation rate a trips completed, rounding as 
-- requested and filtering to first two days of the month

SELECT 
    request_date,
    round(1.0*sum(CASE WHEN status != 'completed' THEN 1 ELSE 0 END)/count(*), 2) AS cancel_rate
FROM eligible_trips
GROUP BY request_date
ORDER BY request_date ASC;

 * postgresql://fknight:***@localhost/postgres
3 rows affected.

[(datetime.date(2020, 10, 1), Decimal('0.33')),
 (datetime.date(2020, 10, 2), Decimal('0.00')),
 (datetime.date(2020, 10, 3), Decimal('0.50'))]