# EmployeeDept

Source: https://www.glassdoor.com/Interview/SQL-questions-A-table-schema-with-tables-like-employee-department-employee-to-projects-projects-1-Select-empl-QTN_1536586.htm

The following questions use the `employees` & `products` tables as given below.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
6 rows affected.
6 rows affected.
 * postgresql://fknight:***@localhost/postgres
2 rows affected.

# Part A

Select employee from departments where max salary of the department is 40k

## Example answer

In [ ]:
%%sql

SELECT * FROM employees
WHERE dept_id IN (
    SELECT
        dept_id
    FROM employees
    GROUP BY dept_id
    HAVING max(salary) <= 40000
)

# Part B

Select employee assigned to projects

## Example answer

In [ ]:
%%sql

SELECT 
    * 
FROM employees 
WHERE id IN (
    SELECT
        DISTINCT employee_id 
    FROM employee_to_projects 
)

# Part C

Select employee which have the max salary in a given department.

## Example answer

In [ ]:
%%sql

WITH max_salaries AS (
    SELECT 
        dept_id, 
        max(salary) AS max_salary
    FROM employees
    GROUP BY dept_id
)

SELECT
    *
FROM employees e
JOIN max_salaries s
ON e.dept_id = s.dept_id
AND e.salary = s.max_salary

# Part D

Select employee with second highest salary.

## Example answer

In [ ]:
%%sql

WITH salary_rank AS (
    SELECT
        *,
        row_number() OVER (ORDER BY salary DESC) as row_no
    FROM employees
    ORDER BY salary DESC
)

SELECT
    *
FROM salary_rank
WHERE row_no = 2