# Most Friended

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
Source: https://leetcode.com/problems/friend-requests-ii-who-has-the-most-friends/

Given the following table, return a list of users and their corresponding friend count. Order the result by descending friend count, and in the case of a tie, by ascending user ID. Assume that only unique friendships are displayed (i.e., [1, 2] will not show up again as [2, 1] ).

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

## The `friends` table

In [3]:
%%sql

DROP TABLE IF EXISTS friends;
CREATE TABLE friends (
    user1 INT,
    user2 INT
);

INSERT INTO friends
VALUES
    (1, 2), 
    (1, 3), 
    (1, 4), 
    (2, 3);
    
SELECT * FROM friends;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
4 rows affected.
4 rows affected.

[(1, 2), (1, 3), (1, 4), (2, 3)]

## The expected output

| user_id | friend_count |
|-------- |------------- |
| 1       | 3            |
| 2       | 2            |
| 3       | 2            |
| 4       | 1            |

# Type your SQL below

In [4]:
# %% sql
#
# Type your query here