# Content recommendation

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

Using the following two tables, write a query to return page
recommendations to a social media user based on the pages that their
friends have liked, but that they have not yet marked as liked. Order the result by ascending user ID.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

# Part C

Using the subqueries from Parts A & B, solve the original problem.

```sql
WITH users AS (
    SELECT likes.user_id, page, friend_id
    FROM likes
    JOIN friends
    ON likes.user_id = friends.user_id
),

friend_likes AS (
    SELECT 
        users.user_id,
        users.page,
        users.friend_id,
        CASE
        WHEN users.page = likes.page
        THEN true
        ELSE false
        END AS friend_likes
    FROM users
        LEFT JOIN likes
        ON users.friend_id = likes.user_id
        AND users.page = likes.page
)
```

## The expected output

|user_id|recommended_page|
|--- |--- |
|2|B|
|2|C|
|3|A|
|4|A|
|4|C|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here