# Content recommendation

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://www.glassdoor.com/Interview/Write-an-SQL-query-that-makes-recommendations-using-the-pages-that-your-friends-liked-Assume-you-have-two-tables-a-two-c-QTN_1413464.htm

Using the following two tables, write a query to return page
recommendations to a social media user based on the pages that their
friends have liked, but that they have not yet marked as liked. Order the result by ascending user ID.

In [1]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [2]:
%%html
<style>
table {float:left}
</style>

# The `friends` table

In [3]:
%%sql

DROP TABLE IF EXISTS friends;
CREATE TABLE friends (
    user_id INT,
    friend_id INT
);

INSERT INTO friends
VALUES
    (1, 2), 
    (1, 3), 
    (1, 4), 
    (2, 1), 
    (3, 1), 
    (3, 4), 
    (4, 1), 
    (4, 3);

SELECT * FROM friends;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.

[(1, 2), (1, 3), (1, 4), (2, 1), (3, 1), (3, 4), (4, 1), (4, 3)]

## The `likes` table

In [4]:
%%sql

DROP TABLE IF EXISTS likes;

CREATE TABLE likes (
    user_id INT,
    page VARCHAR(1)
);

INSERT INTO likes
VALUES
    (1, 'A'), 
    (1, 'B'), 
    (1, 'C'), 
    (2, 'A'),
    (3, 'B'), 
    (3, 'C'), 
    (4, 'B');
    
SELECT * FROM likes;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (3, 'B'), (3, 'C'), (4, 'B')]

## The expected output

| user_id | recommended_page |
|-------- |----------------- |
| 2       | B                |
| 2       | C                |
| 3       | A                |
| 4       | A                |
| 4       | C                |

# Type your SQL below

In [5]:
# %% sql
#
# Type your query here