# Content recommendation

Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082

Using the following two tables, write a query to return page
recommendations to a social media user based on the pages that their
friends have liked, but that they have not yet marked as liked. Order the result by ascending user ID.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
8 rows affected.
8 rows affected.
 * postgresql://fknight:***@localhost/postgres
Done.
Done.
7 rows affected.
7 rows affected.

# Part A

Combine the `likes` and `friends` table in a subquery that will be used in later parts.

In [2]:
%%sql

SELECT likes.user_id, page, friend_id
FROM likes
JOIN friends
ON likes.user_id = friends.user_id

 * postgresql://fknight:***@localhost/postgres
16 rows affected.

[(1, 'A', 2),
 (1, 'A', 3),
 (1, 'A', 4),
 (1, 'B', 2),
 (1, 'B', 3),
 (1, 'B', 4),
 (1, 'C', 2),
 (1, 'C', 3),
 (1, 'C', 4),
 (2, 'A', 1),
 (3, 'B', 1),
 (3, 'B', 4),
 (3, 'C', 1),
 (3, 'C', 4),
 (4, 'B', 1),
 (4, 'B', 3)]

# Part B

Using the subquery from Part A, write a query that lists each user, along with the page they like, and whether their friend likes it.

```sql
WITH users AS (
    SELECT likes.user_id, page, friend_id
    FROM likes
    JOIN friends
    ON likes.user_id = friends.user_id
)
```

In [3]:
%%sql

WITH users AS (
    SELECT likes.user_id, page, friend_id
    FROM likes
    JOIN friends
    ON likes.user_id = friends.user_id
)

SELECT 
    users.user_id,
    users.page,
    users.friend_id,
    CASE
    WHEN users.page = likes.page
    THEN true
    ELSE false
    END AS friend_likes
FROM users
    LEFT JOIN likes
    ON users.friend_id = likes.user_id
    AND users.page = likes.page

 * postgresql://fknight:***@localhost/postgres
16 rows affected.

[(2, 'A', 1, True),
 (4, 'B', 1, True),
 (3, 'B', 1, True),
 (3, 'C', 1, True),
 (1, 'A', 2, True),
 (1, 'B', 2, False),
 (1, 'C', 2, False),
 (1, 'A', 3, False),
 (4, 'B', 3, True),
 (1, 'B', 3, True),
 (1, 'C', 3, True),
 (1, 'A', 4, False),
 (3, 'B', 4, True),
 (1, 'B', 4, True),
 (1, 'C', 4, False),
 (3, 'C', 4, False)]

# Part C

Using the subqueries from Parts A & B, solve the original problem.

```sql
WITH users AS (
    SELECT likes.user_id, page, friend_id
    FROM likes
    JOIN friends
    ON likes.user_id = friends.user_id
),

friend_likes AS (
    SELECT 
        users.user_id,
        users.page,
        users.friend_id,
        CASE
        WHEN users.page = likes.page
        THEN true
        ELSE false
        END AS friend_likes
    FROM users
        LEFT JOIN likes
        ON users.friend_id = likes.user_id
        AND users.page = likes.page
)
```

In [4]:
%%sql

WITH users AS (
    SELECT likes.user_id, page, friend_id
    FROM likes
    JOIN friends
    ON likes.user_id = friends.user_id
),

friend_likes AS (
    SELECT 
        users.user_id,
        users.page,
        users.friend_id,
        CASE
        WHEN users.page = likes.page
        THEN true
        ELSE false
        END AS does_friend_like
    FROM users
        LEFT JOIN likes
        ON users.friend_id = likes.user_id
        AND users.page = likes.page
)

SELECT 
    DISTINCT friend_id AS user_id, 
    page AS recommended_page FROM friend_likes
    WHERE does_friend_like = false
ORDER BY user_id ASC

 * postgresql://fknight:***@localhost/postgres
5 rows affected.

[(2, 'B'), (2, 'C'), (3, 'A'), (4, 'A'), (4, 'C')]

## The full solution is given below

In [5]:
%%sql

-- inner join friends and page likes tables on user_id

WITH users AS (
    SELECT likes.user_id, page, friend_id
    FROM likes
    JOIN friends
    ON likes.user_id = friends.user_id
),

-- left join likes on this, 
-- requiring user = friend and user likes = friend likes

friend_likes AS (
    SELECT 
        users.user_id, 
        users.page, 
        users.friend_id, 
        CASE 
        WHEN users.page = likes.page 
        THEN true
        ELSE false
        END AS does_friend_like
    FROM users
        LEFT JOIN likes
        ON users.friend_id = likes.user_id
        AND users.page = likes.page
)

-- if a friend pair doesn’t share a common page like, friend likes column will be null 
-- pull out these entries

SELECT 
    DISTINCT friend_id AS user_id, 
    page AS recommended_page FROM friend_likes
    WHERE does_friend_like = false
ORDER BY user_id ASC

 * postgresql://fknight:***@localhost/postgres
5 rows affected.

[(2, 'B'), (2, 'C'), (3, 'A'), (4, 'A'), (4, 'C')]