# StudentData

Source: Sachin's email

Show subject scores for each student.

In [2]:
%load_ext sql
%sql postgresql://fknight:@localhost/postgres

In [3]:
%%html
<style>
table {float:left}
</style>

In [5]:
%%sql

DROP TABLE IF EXISTS student_data;
CREATE TABLE student_data (
  id      INTEGER,
  subject varchar(10),
  marks   integer
);

INSERT INTO student_data
VALUES
    (1, 'English', 60),
    (1, 'Maths',   70),
    (1, 'Science', 75),
    (2, 'English', 62),
    (2, 'Maths',   72),
    (2, 'Science', 85);
    
SELECT * FROM student_data;

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
6 rows affected.
6 rows affected.

[(1, 'English', 60),
 (1, 'Maths', 70),
 (1, 'Science', 75),
 (2, 'English', 62),
 (2, 'Maths', 72),
 (2, 'Science', 85)]

## The expected output

|id|maths|english|science|
|--- |--- |--- |--- |
|1|70|60|75|
|2|72|62|85|

# Type your SQL below

In [ ]:
# %%sql
#
# Type your query here